@import "./src/scss/common";

.hero2022FallContainer {
  position: relative;
  overflow: hidden;
  display: block;
  height: fit-content;
  pointer-events: none;
  display: flex;
  justify-content: center;
  background-color: RGB(246, 246, 246);
}
.hero2022Fall {
  position: relative;
  display: block;
  height: fit-content;
  h2 {
    margin: 5rem auto;
  }
}
