// @import "./node_modules/utksds-framework/src/scss/custom_variables";
// @import "./node_modules/bootstrap/scss/variables";
//  html {
//   font-size: 100%;
//   /*16px*/
//   height: 100%;
//   position: relative;
//   width: 100%;
//   overflow-x: hidden;
// }
//
// body {
//   margin: 0;
//   height: 100%;
//   width: 100%;
//   position: relative;
// }

.hero2022FallContainer {
  position: relative;
  overflow: hidden;
  display: block;
  height: fit-content;
  pointer-events: none;
  display: flex;
  justify-content: center;
  background-color: RGB(246, 246, 246);
}
.hero2022Fall {
  position: relative;
  display: block;
  height: fit-content;
  h2 {
    margin: 5rem auto;
  }
}
