@import 'scss/common';

.searchContainer {
  width: 100%;
  margin: 0;
}

.programSearchForm {
  margin: 2rem 0 0 0;
  border-left: 0.6rem solid $utorange;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  width: 100%;

  & fieldset {
    // overwrites MUI radius rules
    border-radius: 0 0 0 0 !important;
    border-left: 0 !important;
  }
  .MuiTextField-root {
    width: 80%;
    padding: 16.5px 14px;
  }
  button {
    color: #707070;
    background-color: #f1f1f1;
    padding: 0.8rem 1rem;
    margin: 0;
    border: 0;
    border-top: 1px solid $utgray4;
    border-bottom: 1px solid $utgray4;
    border-right: 1px solid $utgray4;
    text-transform: uppercase;
    font-weight: $font-weight-bolder;
    font-size: $h6-font-size;
    display: flex;
    align-items: center;
    &:hover {
      background-color: $utsmokey;
      color: white !important;
    }
  }
}
.linkList {
  // background-color: #f1f1f1;
  list-style-type: none;
  justify-content: flex-start;
  flex-wrap: wrap;
  // margin: 1rem 0;
  padding: 1rem 1.4rem 1rem 1.4rem;
  // font-size: 0.875rem;
  display: flex;
  flex-direction: row;
  font-size: calc($p-font-size * 0.73);
  font-weight: $font-weight-normal;
  gap: 1rem;
  li {
    a {
      // float: left;
      // margin-right: 20px;

      color: $utsmokeytext !important;
      &:hover {
        color: $utlinkriver !important;
      }
    }
  }
}
