// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  border-bottom: none;

  .btn-close {
    padding: ($modal-header-padding-y * 0.5) ($modal-header-padding-x * 0.5);
    margin: ($modal-header-padding-y * -0.5) ($modal-header-padding-x * -0.5)
      ($modal-header-padding-y * -0.5) auto;
  }
}
