.orange-mark,
.display-4 {
  position: relative;
  padding-bottom: $spacer * 2;
  margin-top: $spacer * 3;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 90px;
    margin-left: 0;
    height: 8px;
    background-color: $utorange;
    top: auto;
    bottom: 0;
  }
  &.widget-title {
    padding-top: $spacer;
    margin-top: $spacer;
  }
}
