.tnDivider {
  width: 100%;
  position: relative;
  display: block;
  min-height: 220px;
}
.tnTop {
  position: absolute;
  // object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  // background-color: $utorange;
  // color of shape is controlled by the group background color in wordpress
  height: 800px;
  transform-origin: top left;
  min-height: 189px;
  clip-path: polygon(0 0, 100% 0%, 100% 10%, 54% 10%, 54% 15%, 3% 15%, 0 27%);
  transition: clip-path 0.5s;
  @media screen and (min-width: 1200px) {
    clip-path: polygon(0 0, 100% 0%, 100% 10%, 24% 10%, 24% 15%, 3% 15%, 0 27%);
    transition: clip-path 1s;
  }
  @media screen and (min-width: 1300px) {
    clip-path: polygon(0 0, 100% 0%, 100% 10%, 24% 10%, 24% 15%, 2% 15%, 0 27%);
    transition: clip-path 0.5s;
  }
}
.reflect {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.divider-bar-skinny {
  height: clamp(1rem, 2%, 3rem);
  display: block;
}
