//Pattern solid news triple

.solid-news-triple {
  .has-light-grey-to-white-gradient-background {
    transform: scaleX(2.5);

    @media screen and (min-width: 1200px) {
      transform: scaleX(2.5);
    }
    @media screen and (min-width: 1200px) {
      transform: none;
    }
  }
  .wp-block-columns {
    flex-direction: column;
    width: 100%;
    .chancellorFeaturePost {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    // background-color: $utgray2;
    img {
      width: 90%;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: column;
      background-color: transparent;
      .chancellorFeaturePost {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        > * {
          flex: 1;
        }
      }
      img {
        width: 90%;
      }
    }

    @media screen and (min-width: 1536px) {
      flex-direction: row;
      .chancellorFeaturePost {
        display: flex;
        flex-direction: column;

        // flex-wrap: wrap;
      }
    }
  }
}

.featuredVideo {
  margin: 0;
  padding: 0;

  .has-white-to-clear-gradient-background {
    transform: scaleX(0.85);
    transform: scaleX(0.45);
    // transform: scaleY(0);
    transform-origin: top left;

    transition: all 0.2s ease-out;

    @media screen and (min-width: 1200px) {
      transform: scaleX(0.9);

      transition: all 0.2s ease-out;
    }
    @media screen and (min-width: 1536px) {
      transform: none;
      border: none;

      transition: all 0.2s ease-out;
    }

    @media screen and (min-width: 2370px) {
      transform: scaleX(0.9);
      border: none;

      transition: all 0.2s ease-out;
    }
  }
  .flagshipVideo {
    margin: 0;
    padding: 0;
    height: min-content !important;
  }
}

.twoUp-gallery {
  margin: 0 auto;
  // border: 2px solid red;
  max-width: 1854px;
  padding: 0;
  & .is-layout-flow > .alignleft {
    margin-inline-end: 0;
  }
}

// Two up Gallery (large first) Forces image to overlap with orange bar on mobile. Grounds the image.
.twoUp-gallery-lgsm figure:first-of-type {
  margin-bottom: -5rem;
  @media screen and (min-width: 700px) {
    margin-bottom: 0;
  }
}
.twoUp-gallery-smlg figure:first-of-type {
  // margin-bottom: -5rem;
  @media screen and (min-width: 700px) {
    margin-bottom: 0;
  }
}

// .colA {
//   border: 1px solid green;
// }
// .coldB {
//   border: 1px solid blue;
// }
// /* TN */

// // experimental TN Section
// // Still in process and not functionging 100% yet NOT USED YET.
// .tnDivider {
//   position: absolute;
//   top: 0;
//   // border: 2px solid blue;
//   width: 100vw;
//   // height: auto;
//   // height: 100%;
//   // transform: scale(5);
//   transform-origin: left;
//   // margin-top: 300px;
//   clip-path: polygon(
//     0% 0%,
//     var(--notchSize) 0%,
//     calc(100% - var(--notchSize)) 0%,
//     100% var(--notchSize),
//     100% 100%,
//     100% 100%,
//     0% 100%,
//     0% 0%
//   );
//   // object-fit: cover;
// }

// .tnTop {
//   position: absolute;
//   object-fit: cover;
//   width: 100vw; //breaks the height of the page...
//   left: 0;
//   display: inline-block;
//   height: 100%;
//   height: auto;
//   margin: 0 auto;
//   margin-left: -5rem;
//   background-color: $utgray2;
//   background-color: $utorange;
//   // height: 200px;
//   clip-path: path('M0,1L.3,.4s1.7,0,1.7,0,0-.2,0-.2h6.4v-.2H0V1Z');
//   overflow: hidden;
// }

// .tnBottom {
//   --notchSize: 130px;
//   clip-path: polygon(
//     0% 0%,
//     100% 0,
//     100% 8px,
//     calc(100% - var(--notchSize)) 100%,
//     var(--notchSize) 100%,
//     0% 100%
//   );
// }

// .scaleUp {
//   transform: scale(400);
//   transform-origin: top left;
//   object-fit: cover;
// }
// .flip {
//   transform: scaleX(-1);
//   right: 0;
//   left: auto;
// }

// .fullWidthBar-end {
//   &:after {
//     width: 100vw;
//     max-width: 100vw;
//     margin: 0 calc(50% - 50vw);
//     content: '';
//     display: block;
//     background-color: $utgray2;
//     position: absolute;
//     height: 300px;
//     z-index: -1;
//     bottom: 0;
//     left: 0;
//   }
// }

// .fortysixty-forty {
//   flex-basis: 60%;
//   // This causes an error: "40% is not a flex value : 20vw 1 40%"
//   // Not sure what it should be.
//   flex: 20vw 1 40%;
//   padding: 2rem;

//   @include media-breakpoint-up(xl) {
//     // This causes an error: "40% is not a flex value : 20vw 1 40%"
//     // Not sure what it should be.
//     flex: 20vw 1 40%;
//     border: 2px solid red;
//   }
// }

// .fortysixty-sixty {
//   flex-basis: 40%;
//   position: relative;

//   @include media-breakpoint-up(xl) {
//     flex-basis: 60%;
//   }
//   h2 {
//     margin-top: 0;
//   }

//   img {
//     // object-fit: cover;
//     // max-width: 1064px;
//     // max-height: 666px;
//     position: relative;
//   }
//   > div[class$='__inner-container'] {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     align-content: center;
//     align-items: flex-end;
//     & > * {
//       flex: 1 1 auto;
//       min-width: 300px;
//     }
//     figure {
//       // margin-left: calc($spacer * 2);
//     }
//     @include media-breakpoint-up(xl) {
//       flex-direction: row;
//       align-items: center;
//     }
//   }
// }

/* - - - - - - - - - - - - */
/* fiftyFiftyCard */
/* - - - - - - - - - - - - */

.fiftyFifityCardContainer > div[class$='__inner-container'] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fiftyFifityCardContainer > div[class$='__inner-container'] > * {
  flex-basis: 98%;
  /* border:2px solid blue; */
}

.fiftyFiftyCard {
  border: 1px solid #707070;
}

.fiftyFiftyCard div[class$='__inner-container'] {
  display: flex;
  flex-direction: column;
}

.fiftyFiftyCard div[class$='__inner-container'] > * {
  flex-basis: 50%;
}

.areaCardTop > div[class$='__inner-container'] {
  /* This surrounds image, and group areaCardText */
  width: 100%;
  display: flex;
  flex-direction: row;
  /* border:1px solid red; */
}

.areaCardTop > div[class$='__inner-container'] > * {
  flex-basis: 50%;
  /* border:2px solid green; */
}

.areaCardText div[class$='__inner-container'] {
  display: flex;
  flex-direction: column;
}

.areaCardText div[class$='__inner-container'] > * {
  /* all children */
}

.areaCardText .titleWithBar {
  margin-top: 3rem;
}

.fiftyImage {
  width: 90%;
  padding-right: 2rem;
  height: auto;
  position: relative;
}

.fiftyFiftyCard .areaCardReadMore {
  /* border:2px solid green; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}

@media (min-width: 900px) {
  .fiftyFifityCardContainer > div[class$='__inner-container'] > * {
    flex-basis: 49%;
    /* border:2px solid green; */
  }
}

// .halfGroup > div[class$='__inner-container'] {
//   display: flex;
//   position: relative;
//   flex-direction: column;
//   flex-wrap: wrap;
//   @media screen and (min-width: 1200px) {
//     margin-bottom: 4rem;
//   }
//   @media screen and (min-width: 800px) {
//     flex-direction: row;
//     // flex-wrap: nowrap;
//   }
//   @media screen and (min-width: 1200px) {
//     margin-bottom: 4rem;
//     // border: 2px solid green;
//     // flex-grow: 1;
//   }
//   & > * {
//     flex: 1 1 50%;
//     // border: 1px solid blue;
//   }
// }

// .twoThirdsGroup {
//   flex-direction: column;
//   flex-wrap: wrap;
//   justify-content: flex-start;
//   align-content: stretch;
//   gap: 2rem;

//   position: relative;
//   width: 100%;
//   display: flex;
//   align-items: stretch;
//   align-content: space-around;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   row-gap: calc($spacer * 4);
//   position: relative;

//   @media screen and (min-width: 1200px) {
//     margin-bottom: 4rem;
//   }
//   @media screen and (min-width: 800px) {
//     flex-direction: row;
//     flex-wrap: nowrap;
//   }
//   @media screen and (min-width: 1200px) {
//     margin-bottom: 4rem;
//     // border: 2px solid green;
//     // flex-grow: 1;
//   }
//   & > * {
//     border-top: 6px solid $utorange;
//   }
//   & > :first-child {
//     flex: 0 1 66%;
//     padding-right: calc($spacer * 2);
//   }
//   & > :nth-child(2) {
//     flex: 0 1 33%;
//     // border: 2px solid red;
//   }
// }

// .twoThirdsGroup--reverse {
//   @extend .twoThirdsGroup;
// }

// .twoThirdsGroup--reverse {
//   // border: 2px solid green;
//   & > :first-child {
//     flex: 0 1 33%;
//   }
//   & > :nth-child(2) {
//     flex: 0 1 66%;
//     // border: 2px solid purple;
//   }
// }
// .thirdsGroup {
//   @extend .twoThirdsGroup;
// }
// .thirdsGroup {
//   & > *,
//   & > :first-child,
//   & > :nth-child(2) {
//     flex: 1 1 33%;
//     border-top: 6px solid $utorange;
//   }
// }
// .tripleCalendar {
//   position: relative;
//   &::before {
//     position: absolute;
//     content: ' ';
//     width: 60%;
//     height: calc(100% - 2rem);
//     bottom: -$container-padding-x;
//     left: -$container-padding-x;
//     border-left: 1.25rem solid $utorange;
//     border-bottom: 1.25rem solid $utorange;
//     z-index: -1;
//     @include media-breakpoint-up(md) {
//       bottom: -1.25rem;
//       left: -1.25rem;
//     }
//   }
// }
// .tripleCalendar > div[class$='__inner-container'] {
//   display: flex;
//   flex-direction: row;
//   column-gap: calc($spacer * 2);
//   row-gap: calc($spacer * 1);
//   flex-wrap: wrap;
//   & > * {
//     align-items: stretch;
//     flex: 1 1 98%;
//     @media screen and (min-width: 800px) {
//       flex: 1 1 30%;
//     }
//   }
//   margin: 0 0 calc($spacer * 2) 0;
// }
// .event {
//   border: 1px solid #333333;
//   width: 100%;
//   display: flex;
//   flex-direction: row;

//   // padding: $spacer;
//   @extend .twoThirdsGroup--reverse;
//   & > div[class$='__inner-container'] {
//     align-items: stretch;
//     height: 100%;
//   }

//   .datesGroup > div[class$='__inner-container'] {
//     display: flex;
//     flex-direction: column;
//     text-align: center;
//     align-items: center;
//     align-content: center;
//     justify-content: center;
//     position: relative;
//     > :first-child {
//       font-size: calc($spacer * 3);
//       font-weight: $font-weight-bold;
//       position: relative;
//       margin-bottom: 0;
//     }
//   }
// }
