h1,
.h1 {
  font-weight: $font-weight-bolder;
}
.has-drop-cap:first-letter {
  float: left;
  font-size: 6rem;
  font-weight: 100;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.2em 0;
}

.list-roman {
  list-style-type: upper-roman;
}
.list-letters {
  list-style-type: lower-alpha;
}

.text-condensed {
  font-family: 'proxima-nova-extra-condensed', 'proxima-nova-condensed',
    'Gotham Cond SSm A', 'Gotham Cond SSm B', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: 400;
}
.text-letterspaced {
  letter-spacing: 0.1em;
}
.text-white > a {
  color: $white;
  text-decoration: underline;
}
// .text-summitt > a {
// 	color:$utsummitt;
// 	text-decoration: underline;
// }
// .text-smokey > a {
// 	color:$utsmokey;
// 	text-decoration:underline;
// }

// Default wordpress styles. Getting them in line with Bootstrap
.has-small-font-size {
  @extend .fs-6;
}
.has-medium-font-size {
  @extend .fs-3;
}
.has-large-font-size {
  @extend .fs-2;
}
.has-huge-font-size {
  @extend .fs-1;
}

h1 {
  margin-top: calc($spacer * 6);
  margin-bottom: calc($spacer * 2);
  font-weight: 900; // think it needs to be heavier like this here
}
h2 {
  margin-top: calc($spacer * 5);
  margin-bottom: calc($spacer * 2.2);
  word-wrap: normal !important;
}

h3 {
  margin-top: calc($spacer * 4);
  margin-bottom: calc($spacer * 1.7);
}

h4 {
  margin-top: calc($spacer * 3.2);
  margin-bottom: calc($spacer * 1.2);
}

h5 {
  margin-top: calc($spacer * 3);
  margin-bottom: calc($spacer * 1);
}
h6 {
  margin-top: calc($spacer * 2.8);
  margin-bottom: calc($spacer * 1);
}
p {
  font-size: $p-font-size;
}

// h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
//   margin-top:0;
// }

.entry-header h1 {
  // playing with font size in grey bar
  margin: 0 0 0 0;
  font-size: $h2-font-size;
  padding: 0;
}

h1.area {
  font-size: clamp(1.51375rem, 6.2175vw, 2.6rem);
  font-weight: $font-weight-normal;
  font-style: italic;
  color: #9d9d9d;
  color: #918e8e;
  letter-spacing: 0.26rem;
  text-transform: uppercase;
  // line-height: calc($headings-line-height * 0.2);
  margin-bottom: calc($spacer * 0.6);

  &:before {
    content: '';
    position: absolute;
    color: $utorange;
  }
}

p.lead + p {
  margin-top: clamp($spacer, 3vw, calc($spacer * 2));
}
p strong {
  font-weight: $font-weight-bold;
}
// a {
//   // color: currentColor;
//   color: $utlinkriver;
//   &:hover {
//     color: $utlinkhover;
//   }
// }

h2.heading-oa-bar {
  // adds a thick bar under h2 headings
  border-bottom: 0.5rem solid $utorange;
  padding-bottom: 1rem;
  width: auto;
  position: relative;
  width: fit-content;
}

// adding special case for h1 that appear inside columns. clamp is based off body width
// must account for the container being a different width so VAL must be adjusted for scaling
// to take place inside containers. Otherwise words break oddly.

.wp-block-columns h1 {
  font-size: clamp(
    (calc($font-size-base * 2.24)),
    3vw + 1rem,
    (calc($font-size-base * 3.7224))
  );
}

.h2-scale h2 {
  // add to containers that are not full width to better control the scaling of h2 elements.
  // used to be based on .wp-block-columns but was too general
  font-size: clamp(
    (calc($font-size-base * 1.647)),
    2vw + 1rem,
    (calc($font-size-base * 2.7368))
  );
}

section[class^='PageTitle_hero'] {
  position: relative;
  h1 {
    margin: 0;
    font-size: $h1-font-size;
    font-weight: $font-weight-bolder;
  }
}
#this-isrocky-top {
  /* think there is some global setting set to word-break: all. Need to find this and correct.
  This is causing words to wrap at strange points */
  word-break: normal;
}

// control width of content based on character widths
.ch-med {
  max-width: 45ch;
}
.ch-lg {
  max-width: 60ch;
}

.message-big {
  font-size: clamp(1.8rem, 4vw, 3rem);
  // color: #ed7002;
}
