.youtubeButton {
  flex-basis: 100%;
  left: 0;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 298 298'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg id='Group_2618'%3E%3Cpath id='Exclusion_12' class='cls-1' d='m149,298c-10.1,0-20.1-1-30-3-19.1-3.9-37.2-11.5-53.3-22.4-24-16.2-42.7-38.9-54-65.6-3.8-9-6.7-18.4-8.7-28-4-19.8-4-40.2,0-60.1,3.9-19.1,11.5-37.2,22.4-53.3,16.2-24,38.9-42.7,65.6-54,9-3.8,18.4-6.7,28-8.7,19.8-4,40.2-4,60.1,0,19.1,3.9,37.2,11.5,53.3,22.4,24,16.2,42.7,38.9,54,65.6,3.8,9,6.7,18.4,8.7,28,4,19.8,4,40.2,0,60.1-3.9,19.1-11.5,37.2-22.4,53.3-16.2,24-38.9,42.7-65.6,54-9,3.8-18.4,6.7-28,8.7-9.9,2-19.9,3-30,3Zm0-258c-7.4,0-14.7.7-22,2.2-13.9,2.9-27.2,8.4-39,16.4-17.5,11.8-31.2,28.5-39.5,48-2.8,6.6-4.9,13.4-6.4,20.5-3,14.5-3,29.4,0,43.9,2.9,13.9,8.4,27.2,16.4,39,11.8,17.5,28.5,31.2,48,39.5,6.6,2.8,13.4,4.9,20.5,6.4,14.5,3,29.4,3,43.9,0,13.9-2.9,27.2-8.4,39-16.4,17.5-11.8,31.2-28.5,39.5-48,2.8-6.6,4.9-13.4,6.4-20.5,3-14.5,3-29.4,0-43.9-2.9-13.9-8.4-27.2-16.4-39-11.8-17.5-28.5-31.2-48-39.5-6.6-2.8-13.4-4.9-20.5-6.4-7.2-1.5-14.6-2.2-22-2.2Z'/%3E%3Cpath id='Polygon_6' class='cls-1' d='m212.7,149l-94.2,54.4v-108.7l94.2,54.4Z'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.69;
  filter: drop-shadow(0px 0px 1.5rem $utsmokey);
  transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
}

.video-interaction {
  div div {
    overflow: hidden;
  }
  img {
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
  }
  &:hover {
    img {
      border: 0px solid RGBA(255, 255, 255, 0);
      width: 102%;
      overflow: hidden;
      transform: scale(1.01);
      // filter: grayscale(30%);
      filter: saturate(130%);
      transition: 0.25s ease-in-out;
      -webkit-transition: 0.25s ease-in-out;
    }
  }
}
