.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  white-space: nowrap !important;
  width: 1px !important;
}
.visually-hidden-focusable:not(:focus):not(:focus-within):not(caption),
.visually-hidden:not(caption) {
  position: absolute !important;
}
:root,
[data-bs-theme='light'] {
  --utk-site-header-blue: #0d6efd;
  --utk-site-header-indigo: #6610f2;
  --utk-site-header-purple: #6f42c1;
  --utk-site-header-pink: #d63384;
  --utk-site-header-red: #dc3545;
  --utk-site-header-orange: #fd7e14;
  --utk-site-header-yellow: #ffc107;
  --utk-site-header-green: #198754;
  --utk-site-header-teal: #20c997;
  --utk-site-header-cyan: #0dcaf0;
  --utk-site-header-black: #000;
  --utk-site-header-white: #fff;
  --utk-site-header-gray: #6c757d;
  --utk-site-header-gray-dark: #343a40;
  --utk-site-header-gray-100: #f8f9fa;
  --utk-site-header-gray-200: #e9ecef;
  --utk-site-header-gray-300: #dee2e6;
  --utk-site-header-gray-400: #ced4da;
  --utk-site-header-gray-500: #adb5bd;
  --utk-site-header-gray-600: #6c757d;
  --utk-site-header-gray-700: #495057;
  --utk-site-header-gray-800: #343a40;
  --utk-site-header-gray-900: #212529;
  --utk-site-header-primary: #0d6efd;
  --utk-site-header-secondary: #6c757d;
  --utk-site-header-success: #198754;
  --utk-site-header-info: #0dcaf0;
  --utk-site-header-warning: #ffc107;
  --utk-site-header-danger: #dc3545;
  --utk-site-header-light: #f8f9fa;
  --utk-site-header-dark: #212529;
  --utk-site-header-primary-rgb: 13, 110, 253;
  --utk-site-header-secondary-rgb: 108, 117, 125;
  --utk-site-header-success-rgb: 25, 135, 84;
  --utk-site-header-info-rgb: 13, 202, 240;
  --utk-site-header-warning-rgb: 255, 193, 7;
  --utk-site-header-danger-rgb: 220, 53, 69;
  --utk-site-header-light-rgb: 248, 249, 250;
  --utk-site-header-dark-rgb: 33, 37, 41;
  --utk-site-header-primary-text-emphasis: #052c65;
  --utk-site-header-secondary-text-emphasis: #2b2f32;
  --utk-site-header-success-text-emphasis: #0a3622;
  --utk-site-header-info-text-emphasis: #055160;
  --utk-site-header-warning-text-emphasis: #664d03;
  --utk-site-header-danger-text-emphasis: #58151c;
  --utk-site-header-light-text-emphasis: #495057;
  --utk-site-header-dark-text-emphasis: #495057;
  --utk-site-header-primary-bg-subtle: #cfe2ff;
  --utk-site-header-secondary-bg-subtle: #e2e3e5;
  --utk-site-header-success-bg-subtle: #d1e7dd;
  --utk-site-header-info-bg-subtle: #cff4fc;
  --utk-site-header-warning-bg-subtle: #fff3cd;
  --utk-site-header-danger-bg-subtle: #f8d7da;
  --utk-site-header-light-bg-subtle: #fcfcfd;
  --utk-site-header-dark-bg-subtle: #ced4da;
  --utk-site-header-primary-border-subtle: #9ec5fe;
  --utk-site-header-secondary-border-subtle: #c4c8cb;
  --utk-site-header-success-border-subtle: #a3cfbb;
  --utk-site-header-info-border-subtle: #9eeaf9;
  --utk-site-header-warning-border-subtle: #ffe69c;
  --utk-site-header-danger-border-subtle: #f1aeb5;
  --utk-site-header-light-border-subtle: #e9ecef;
  --utk-site-header-dark-border-subtle: #adb5bd;
  --utk-site-header-white-rgb: 255, 255, 255;
  --utk-site-header-black-rgb: 0, 0, 0;
  --utk-site-header-font-sans-serif: system-ui, -apple-system, 'Segoe UI',
    Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --utk-site-header-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --utk-site-header-gradient: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.15),
    hsla(0, 0%, 100%, 0)
  );
  --utk-site-header-body-font-family: var(--utk-site-header-font-sans-serif);
  --utk-site-header-body-font-size: 1rem;
  --utk-site-header-body-font-weight: 400;
  --utk-site-header-body-line-height: 1.5;
  --utk-site-header-body-color: #212529;
  --utk-site-header-body-color-rgb: 33, 37, 41;
  --utk-site-header-body-bg: #fff;
  --utk-site-header-body-bg-rgb: 255, 255, 255;
  --utk-site-header-emphasis-color: #000;
  --utk-site-header-emphasis-color-rgb: 0, 0, 0;
  --utk-site-header-secondary-color: rgba(33, 37, 41, 0.75);
  --utk-site-header-secondary-color-rgb: 33, 37, 41;
  --utk-site-header-secondary-bg: #e9ecef;
  --utk-site-header-secondary-bg-rgb: 233, 236, 239;
  --utk-site-header-tertiary-color: rgba(33, 37, 41, 0.5);
  --utk-site-header-tertiary-color-rgb: 33, 37, 41;
  --utk-site-header-tertiary-bg: #f8f9fa;
  --utk-site-header-tertiary-bg-rgb: 248, 249, 250;
  --utk-site-header-heading-color: inherit;
  --utk-site-header-link-color: #0d6efd;
  --utk-site-header-link-color-rgb: 13, 110, 253;
  --utk-site-header-link-decoration: underline;
  --utk-site-header-link-hover-color: #0a58ca;
  --utk-site-header-link-hover-color-rgb: 10, 88, 202;
  --utk-site-header-code-color: #d63384;
  --utk-site-header-highlight-bg: #fff3cd;
  --utk-site-header-border-width: 1px;
  --utk-site-header-border-style: solid;
  --utk-site-header-border-color: #dee2e6;
  --utk-site-header-border-color-translucent: rgba(0, 0, 0, 0.175);
  --utk-site-header-border-radius: 0.375rem;
  --utk-site-header-border-radius-sm: 0.25rem;
  --utk-site-header-border-radius-lg: 0.5rem;
  --utk-site-header-border-radius-xl: 1rem;
  --utk-site-header-border-radius-xxl: 2rem;
  --utk-site-header-border-radius-2xl: var(--utk-site-header-border-radius-xxl);
  --utk-site-header-border-radius-pill: 50rem;
  --utk-site-header-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --utk-site-header-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --utk-site-header-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --utk-site-header-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --utk-site-header-focus-ring-width: 0.25rem;
  --utk-site-header-focus-ring-opacity: 0.25;
  --utk-site-header-focus-ring-color: rgba(13, 110, 253, 0.25);
  --utk-site-header-form-valid-color: #198754;
  --utk-site-header-form-valid-border-color: #198754;
  --utk-site-header-form-invalid-color: #dc3545;
  --utk-site-header-form-invalid-border-color: #dc3545;
}
[data-bs-theme='dark'] {
  --utk-site-header-body-color: #dee2e6;
  --utk-site-header-body-color-rgb: 222, 226, 230;
  --utk-site-header-body-bg: #212529;
  --utk-site-header-body-bg-rgb: 33, 37, 41;
  --utk-site-header-emphasis-color: #fff;
  --utk-site-header-emphasis-color-rgb: 255, 255, 255;
  --utk-site-header-secondary-color: rgba(222, 226, 230, 0.75);
  --utk-site-header-secondary-color-rgb: 222, 226, 230;
  --utk-site-header-secondary-bg: #343a40;
  --utk-site-header-secondary-bg-rgb: 52, 58, 64;
  --utk-site-header-tertiary-color: rgba(222, 226, 230, 0.5);
  --utk-site-header-tertiary-color-rgb: 222, 226, 230;
  --utk-site-header-tertiary-bg: #2b3035;
  --utk-site-header-tertiary-bg-rgb: 43, 48, 53;
  --utk-site-header-primary-text-emphasis: #6ea8fe;
  --utk-site-header-secondary-text-emphasis: #a7acb1;
  --utk-site-header-success-text-emphasis: #75b798;
  --utk-site-header-info-text-emphasis: #6edff6;
  --utk-site-header-warning-text-emphasis: #ffda6a;
  --utk-site-header-danger-text-emphasis: #ea868f;
  --utk-site-header-light-text-emphasis: #f8f9fa;
  --utk-site-header-dark-text-emphasis: #dee2e6;
  --utk-site-header-primary-bg-subtle: #031633;
  --utk-site-header-secondary-bg-subtle: #161719;
  --utk-site-header-success-bg-subtle: #051b11;
  --utk-site-header-info-bg-subtle: #032830;
  --utk-site-header-warning-bg-subtle: #332701;
  --utk-site-header-danger-bg-subtle: #2c0b0e;
  --utk-site-header-light-bg-subtle: #343a40;
  --utk-site-header-dark-bg-subtle: #1a1d20;
  --utk-site-header-primary-border-subtle: #084298;
  --utk-site-header-secondary-border-subtle: #41464b;
  --utk-site-header-success-border-subtle: #0f5132;
  --utk-site-header-info-border-subtle: #087990;
  --utk-site-header-warning-border-subtle: #997404;
  --utk-site-header-danger-border-subtle: #842029;
  --utk-site-header-light-border-subtle: #495057;
  --utk-site-header-dark-border-subtle: #343a40;
  --utk-site-header-heading-color: inherit;
  --utk-site-header-link-color: #6ea8fe;
  --utk-site-header-link-hover-color: #8bb9fe;
  --utk-site-header-link-color-rgb: 110, 168, 254;
  --utk-site-header-link-hover-color-rgb: 139, 185, 254;
  --utk-site-header-code-color: #e685b5;
  --utk-site-header-border-color: #495057;
  --utk-site-header-border-color-translucent: hsla(0, 0%, 100%, 0.15);
  --utk-site-header-form-valid-color: #75b798;
  --utk-site-header-form-valid-border-color: #75b798;
  --utk-site-header-form-invalid-color: #ea868f;
  --utk-site-header-form-invalid-border-color: #ea868f;
  color-scheme: dark;
}
.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}
.collapse:not(.show) {
  display: none;
}
.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}
.collapsing.collapse-horizontal {
  height: auto;
  transition: width 0.35s ease;
  width: 0;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing.collapse-horizontal {
    transition: none;
  }
}
.btn-close {
  --utk-site-header-btn-close-color: #000;
  --utk-site-header-btn-close-bg: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3E%3Cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3E%3C/svg%3E');
  --utk-site-header-btn-close-opacity: 0.5;
  --utk-site-header-btn-close-hover-opacity: 0.75;
  --utk-site-header-btn-close-focus-shadow: 0 0 0 0.25rem
    rgba(13, 110, 253, 0.25);
  --utk-site-header-btn-close-focus-opacity: 1;
  --utk-site-header-btn-close-disabled-opacity: 0.25;
  --utk-site-header-btn-close-white-filter: invert(1) grayscale(100%)
    brightness(200%);
  background: transparent var(--utk-site-header-btn-close-bg) center/1em auto
    no-repeat;
  border: 0;
  border-radius: 0.375rem;
  box-sizing: content-box;
  height: 1em;
  opacity: var(--utk-site-header-btn-close-opacity);
  padding: 0.25em;
  width: 1em;
}
.btn-close,
.btn-close:hover {
  color: var(--utk-site-header-btn-close-color);
}
.btn-close:hover {
  opacity: var(--utk-site-header-btn-close-hover-opacity);
  text-decoration: none;
}
.btn-close:focus {
  box-shadow: var(--utk-site-header-btn-close-focus-shadow);
  opacity: var(--utk-site-header-btn-close-focus-opacity);
  outline: 0;
}
.btn-close.disabled,
.btn-close:disabled {
  opacity: var(--utk-site-header-btn-close-disabled-opacity);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.btn-close-white,
[data-bs-theme='dark'] .btn-close {
  filter: var(--utk-site-header-btn-close-white-filter);
}
.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
  --utk-site-header-offcanvas-zindex: 1045;
  --utk-site-header-offcanvas-width: 400px;
  --utk-site-header-offcanvas-height: 100vh;
  --utk-site-header-offcanvas-padding-x: 1.25rem;
  --utk-site-header-offcanvas-padding-y: 1.25rem;
  --utk-site-header-offcanvas-color: var(--wp--preset--color--smokey);
  --utk-site-header-offcanvas-bg: var(--utk-site-header-body-bg);
  --utk-site-header-offcanvas-border-width: 0;
  --utk-site-header-offcanvas-border-color: transparent;
  --utk-site-header-offcanvas-box-shadow: -4px 4px 24px rgba(0, 0, 0, 0.05);
  --utk-site-header-offcanvas-transition: transform 0.3s ease-in-out;
  --utk-site-header-offcanvas-title-line-height: 1.1;
}
@media (max-width: 575.98px) {
  .offcanvas-sm {
    background-clip: padding-box;
    background-color: var(--utk-site-header-offcanvas-bg);
    bottom: 0;
    color: var(--utk-site-header-offcanvas-color);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    outline: 0;
    position: fixed;
    transition: var(--utk-site-header-offcanvas-transition);
    visibility: hidden;
    z-index: var(--utk-site-header-offcanvas-zindex);
  }
}
@media (max-width: 575.98px) and (prefers-reduced-motion: reduce) {
  .offcanvas-sm {
    transition: none;
  }
}
@media (max-width: 575.98px) {
  .offcanvas-sm.offcanvas-start {
    border-right: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    left: 0;
    top: 0;
    transform: translateX(-100%);
    width: var(--utk-site-header-offcanvas-width);
  }
  .offcanvas-sm.offcanvas-end {
    border-left: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: var(--utk-site-header-offcanvas-width);
  }
  .offcanvas-sm.offcanvas-top {
    border-bottom: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    top: 0;
    transform: translateY(-100%);
  }
  .offcanvas-sm.offcanvas-bottom,
  .offcanvas-sm.offcanvas-top {
    height: var(--utk-site-header-offcanvas-height);
    left: 0;
    max-height: 100%;
    right: 0;
  }
  .offcanvas-sm.offcanvas-bottom {
    border-top: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    transform: translateY(100%);
  }
  .offcanvas-sm.show:not(.hiding),
  .offcanvas-sm.showing {
    transform: none;
  }
  .offcanvas-sm.hiding,
  .offcanvas-sm.show,
  .offcanvas-sm.showing {
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .offcanvas-sm {
    --utk-site-header-offcanvas-height: auto;
    --utk-site-header-offcanvas-border-width: 0;
    background-color: transparent !important;
  }
  .offcanvas-sm .offcanvas-header {
    display: none;
  }
  .offcanvas-sm .offcanvas-body {
    background-color: transparent !important;
    display: flex;
    flex-grow: 0;
    overflow-y: visible;
    padding: 0;
  }
}
@media (max-width: 767.98px) {
  .offcanvas-md {
    background-clip: padding-box;
    background-color: var(--utk-site-header-offcanvas-bg);
    bottom: 0;
    color: var(--utk-site-header-offcanvas-color);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    outline: 0;
    position: fixed;
    transition: var(--utk-site-header-offcanvas-transition);
    visibility: hidden;
    z-index: var(--utk-site-header-offcanvas-zindex);
  }
}
@media (max-width: 767.98px) and (prefers-reduced-motion: reduce) {
  .offcanvas-md {
    transition: none;
  }
}
@media (max-width: 767.98px) {
  .offcanvas-md.offcanvas-start {
    border-right: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    left: 0;
    top: 0;
    transform: translateX(-100%);
    width: var(--utk-site-header-offcanvas-width);
  }
  .offcanvas-md.offcanvas-end {
    border-left: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: var(--utk-site-header-offcanvas-width);
  }
  .offcanvas-md.offcanvas-top {
    border-bottom: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    top: 0;
    transform: translateY(-100%);
  }
  .offcanvas-md.offcanvas-bottom,
  .offcanvas-md.offcanvas-top {
    height: var(--utk-site-header-offcanvas-height);
    left: 0;
    max-height: 100%;
    right: 0;
  }
  .offcanvas-md.offcanvas-bottom {
    border-top: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    transform: translateY(100%);
  }
  .offcanvas-md.show:not(.hiding),
  .offcanvas-md.showing {
    transform: none;
  }
  .offcanvas-md.hiding,
  .offcanvas-md.show,
  .offcanvas-md.showing {
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .offcanvas-md {
    --utk-site-header-offcanvas-height: auto;
    --utk-site-header-offcanvas-border-width: 0;
    background-color: transparent !important;
  }
  .offcanvas-md .offcanvas-header {
    display: none;
  }
  .offcanvas-md .offcanvas-body {
    background-color: transparent !important;
    display: flex;
    flex-grow: 0;
    overflow-y: visible;
    padding: 0;
  }
}
@media (max-width: 991.98px) {
  .offcanvas-lg {
    background-clip: padding-box;
    background-color: var(--utk-site-header-offcanvas-bg);
    bottom: 0;
    color: var(--utk-site-header-offcanvas-color);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    outline: 0;
    position: fixed;
    transition: var(--utk-site-header-offcanvas-transition);
    visibility: hidden;
    z-index: var(--utk-site-header-offcanvas-zindex);
  }
}
@media (max-width: 991.98px) and (prefers-reduced-motion: reduce) {
  .offcanvas-lg {
    transition: none;
  }
}
@media (max-width: 991.98px) {
  .offcanvas-lg.offcanvas-start {
    border-right: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    left: 0;
    top: 0;
    transform: translateX(-100%);
    width: var(--utk-site-header-offcanvas-width);
  }
  .offcanvas-lg.offcanvas-end {
    border-left: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: var(--utk-site-header-offcanvas-width);
  }
  .offcanvas-lg.offcanvas-top {
    border-bottom: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    top: 0;
    transform: translateY(-100%);
  }
  .offcanvas-lg.offcanvas-bottom,
  .offcanvas-lg.offcanvas-top {
    height: var(--utk-site-header-offcanvas-height);
    left: 0;
    max-height: 100%;
    right: 0;
  }
  .offcanvas-lg.offcanvas-bottom {
    border-top: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    transform: translateY(100%);
  }
  .offcanvas-lg.show:not(.hiding),
  .offcanvas-lg.showing {
    transform: none;
  }
  .offcanvas-lg.hiding,
  .offcanvas-lg.show,
  .offcanvas-lg.showing {
    visibility: visible;
  }
}
@media (min-width: 992px) {
  .offcanvas-lg {
    --utk-site-header-offcanvas-height: auto;
    --utk-site-header-offcanvas-border-width: 0;
    background-color: transparent !important;
  }
  .offcanvas-lg .offcanvas-header {
    display: none;
  }
  .offcanvas-lg .offcanvas-body {
    background-color: transparent !important;
    display: flex;
    flex-grow: 0;
    overflow-y: visible;
    padding: 0;
  }
}
@media (max-width: 1199.98px) {
  .offcanvas-xl {
    background-clip: padding-box;
    background-color: var(--utk-site-header-offcanvas-bg);
    bottom: 0;
    color: var(--utk-site-header-offcanvas-color);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    outline: 0;
    position: fixed;
    transition: var(--utk-site-header-offcanvas-transition);
    visibility: hidden;
    z-index: var(--utk-site-header-offcanvas-zindex);
  }
}
@media (max-width: 1199.98px) and (prefers-reduced-motion: reduce) {
  .offcanvas-xl {
    transition: none;
  }
}
@media (max-width: 1199.98px) {
  .offcanvas-xl.offcanvas-start {
    border-right: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    left: 0;
    top: 0;
    transform: translateX(-100%);
    width: var(--utk-site-header-offcanvas-width);
  }
  .offcanvas-xl.offcanvas-end {
    border-left: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: var(--utk-site-header-offcanvas-width);
  }
  .offcanvas-xl.offcanvas-top {
    border-bottom: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    top: 0;
    transform: translateY(-100%);
  }
  .offcanvas-xl.offcanvas-bottom,
  .offcanvas-xl.offcanvas-top {
    height: var(--utk-site-header-offcanvas-height);
    left: 0;
    max-height: 100%;
    right: 0;
  }
  .offcanvas-xl.offcanvas-bottom {
    border-top: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    transform: translateY(100%);
  }
  .offcanvas-xl.show:not(.hiding),
  .offcanvas-xl.showing {
    transform: none;
  }
  .offcanvas-xl.hiding,
  .offcanvas-xl.show,
  .offcanvas-xl.showing {
    visibility: visible;
  }
}
@media (min-width: 1200px) {
  .offcanvas-xl {
    --utk-site-header-offcanvas-height: auto;
    --utk-site-header-offcanvas-border-width: 0;
    background-color: transparent !important;
  }
  .offcanvas-xl .offcanvas-header {
    display: none;
  }
  .offcanvas-xl .offcanvas-body {
    background-color: transparent !important;
    display: flex;
    flex-grow: 0;
    overflow-y: visible;
    padding: 0;
  }
}
@media (max-width: 1399.98px) {
  .offcanvas-xxl {
    background-clip: padding-box;
    background-color: var(--utk-site-header-offcanvas-bg);
    bottom: 0;
    color: var(--utk-site-header-offcanvas-color);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    outline: 0;
    position: fixed;
    transition: var(--utk-site-header-offcanvas-transition);
    visibility: hidden;
    z-index: var(--utk-site-header-offcanvas-zindex);
  }
}
@media (max-width: 1399.98px) and (prefers-reduced-motion: reduce) {
  .offcanvas-xxl {
    transition: none;
  }
}
@media (max-width: 1399.98px) {
  .offcanvas-xxl.offcanvas-start {
    border-right: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    left: 0;
    top: 0;
    transform: translateX(-100%);
    width: var(--utk-site-header-offcanvas-width);
  }
  .offcanvas-xxl.offcanvas-end {
    border-left: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: var(--utk-site-header-offcanvas-width);
  }
  .offcanvas-xxl.offcanvas-top {
    border-bottom: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    top: 0;
    transform: translateY(-100%);
  }
  .offcanvas-xxl.offcanvas-bottom,
  .offcanvas-xxl.offcanvas-top {
    height: var(--utk-site-header-offcanvas-height);
    left: 0;
    max-height: 100%;
    right: 0;
  }
  .offcanvas-xxl.offcanvas-bottom {
    border-top: var(--utk-site-header-offcanvas-border-width) solid
      var(--utk-site-header-offcanvas-border-color);
    transform: translateY(100%);
  }
  .offcanvas-xxl.show:not(.hiding),
  .offcanvas-xxl.showing {
    transform: none;
  }
  .offcanvas-xxl.hiding,
  .offcanvas-xxl.show,
  .offcanvas-xxl.showing {
    visibility: visible;
  }
}
@media (min-width: 1400px) {
  .offcanvas-xxl {
    --utk-site-header-offcanvas-height: auto;
    --utk-site-header-offcanvas-border-width: 0;
    background-color: transparent !important;
  }
  .offcanvas-xxl .offcanvas-header {
    display: none;
  }
  .offcanvas-xxl .offcanvas-body {
    background-color: transparent !important;
    display: flex;
    flex-grow: 0;
    overflow-y: visible;
    padding: 0;
  }
}
.offcanvas {
  background-clip: padding-box;
  background-color: var(--utk-site-header-offcanvas-bg);
  bottom: 0;
  color: var(--utk-site-header-offcanvas-color);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  outline: 0;
  position: fixed;
  transition: var(--utk-site-header-offcanvas-transition);
  visibility: hidden;
  z-index: var(--utk-site-header-offcanvas-zindex);
}
@media (prefers-reduced-motion: reduce) {
  .offcanvas {
    transition: none;
  }
}
.offcanvas.offcanvas-start {
  border-right: var(--utk-site-header-offcanvas-border-width) solid
    var(--utk-site-header-offcanvas-border-color);
  left: 0;
  top: 0;
  transform: translateX(-100%);
  width: var(--utk-site-header-offcanvas-width);
}
.offcanvas.offcanvas-end {
  border-left: var(--utk-site-header-offcanvas-border-width) solid
    var(--utk-site-header-offcanvas-border-color);
  right: 0;
  top: 0;
  transform: translateX(100%);
  width: var(--utk-site-header-offcanvas-width);
}
.offcanvas.offcanvas-top {
  border-bottom: var(--utk-site-header-offcanvas-border-width) solid
    var(--utk-site-header-offcanvas-border-color);
  top: 0;
  transform: translateY(-100%);
}
.offcanvas.offcanvas-bottom,
.offcanvas.offcanvas-top {
  height: var(--utk-site-header-offcanvas-height);
  left: 0;
  max-height: 100%;
  right: 0;
}
.offcanvas.offcanvas-bottom {
  border-top: var(--utk-site-header-offcanvas-border-width) solid
    var(--utk-site-header-offcanvas-border-color);
  transform: translateY(100%);
}
.offcanvas.show:not(.hiding),
.offcanvas.showing {
  transform: none;
}
.offcanvas.hiding,
.offcanvas.show,
.offcanvas.showing {
  visibility: visible;
}
.offcanvas-backdrop {
  background-color: #000;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1040;
}
.offcanvas-backdrop.fade {
  opacity: 0;
}
.offcanvas-backdrop.show {
  opacity: 0.8;
}
.offcanvas-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--utk-site-header-offcanvas-padding-y)
    var(--utk-site-header-offcanvas-padding-x);
}
.offcanvas-header .btn-close {
  margin-bottom: calc(var(--utk-site-header-offcanvas-padding-y) * -0.5);
  margin-right: calc(var(--utk-site-header-offcanvas-padding-x) * -0.5);
  margin-top: calc(var(--utk-site-header-offcanvas-padding-y) * -0.5);
  padding: calc(var(--utk-site-header-offcanvas-padding-y) * 0.5)
    calc(var(--utk-site-header-offcanvas-padding-x) * 0.5);
}
.offcanvas-title {
  line-height: var(--utk-site-header-offcanvas-title-line-height);
  margin-bottom: 0;
}
.offcanvas-body {
  flex-grow: 1;
  overflow-y: auto;
  padding: var(--utk-site-header-offcanvas-padding-y)
    var(--utk-site-header-offcanvas-padding-x);
}
.universal-header {
  width: 100%;
}
.universal-header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 1.125rem;
  width: 100%;
}
.universal-header__utility-nav {
  position: relative;
}
@media screen and (max-width: 1170px) {
  .universal-header__utility-nav {
    display: none;
  }
}
.universal-header__utility-nav .search-button-wrapper {
  position: relative;
}
.universal-header__utility-nav .search-button-wrapper .search-slider {
  align-items: center;
  font-size: 0.875rem;
  justify-content: flex-end;
  position: absolute;
  right: calc(100% + 0.5rem);
  top: -60%;
  transform: translateY(25%);
}
.universal-header__utility-nav
  .search-button-wrapper
  .search-slider
  .form-inline {
  width: 320px;
}
.universal-header__utility-nav
  .search-button-wrapper
  .search-slider
  .form-inline
  .btn {
  padding: 0.25rem;
}
.universal-header__utility-nav
  .search-button:not([aria-expanded='true'])
  .hide-when-open,
.universal-header__utility-nav
  .search-button[aria-expanded='true']
  .hide-when-closed {
  display: none;
}
.universal-header__menu-open-button {
  align-items: center;
  color: var(--wp--preset--color--smokey);
  display: flex;
  font-size: 0.75rem;
  font-variation-settings: 'wght' 550;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
.universal-header__menu-open-button button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  color: currentColor;
  display: flex;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  padding: 0.25rem;
  text-decoration: inherit;
  text-transform: inherit;
}
.universal-header__menu-open-button .search-icon {
  align-items: center;
  display: flex;
}
.universal-header__menu-open-button .search-icon svg {
  stroke: currentColor;
  bottom: 0.02em;
  display: block;
  height: 1.1rem;
  position: relative;
  width: 1.1rem;
}
.universal-header__menu-open-button .search-icon:before {
  content: '/';
  display: block;
  font-weight: 400;
}
.universal-header__menu-open-button .search-icon svg,
.universal-header__menu-open-button .search-icon:before {
  margin-left: 0.25rem;
}
@media screen and (min-width: 1169px) {
  .universal-header__menu-open-button {
    display: none;
  }
}
.main-nav-menu-list {
  --utk-nav-menu--direction: column;
}
.offcanvas.show {
  background-color: var(--utk-site-header-body-bg);
}
.main-menu-wrapper .offcanvas-header .btn-close {
  background-position-x: right;
  font-size: 0.75rem;
  font-variation-settings: 'wght' 550;
  font-weight: 600;
  line-height: 1.1;
  margin-right: 0;
  padding-right: 1.5rem;
  text-transform: uppercase;
  width: auto;
}
.main-menu-wrapper .offcanvas-header .btn-close:hover {
  transform: scale(1.1);
}
.main-menu-wrapper .offcanvas-body .form-inline {
  margin: 1.5rem 0 1rem;
}
.menu-search-button {
  background-color: transparent;
  border: none;
}
.offcanvas.offcanvas-end {
  top: var(--wp-admin--admin-bar--height, 0);
}
.utk-nav-menu .collapsible-menu-item a,
.utk-nav-menu .collapsible-menu-item button {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s ease-out;
}
.utk-nav-menu .collapsible-menu-item a:focus,
.utk-nav-menu .collapsible-menu-item a:hover,
.utk-nav-menu .collapsible-menu-item button:focus,
.utk-nav-menu .collapsible-menu-item button:hover {
  text-decoration-color: currentColor;
}
.utk-nav-menu .collapsible-menu-item:not(:first-of-type),
.utk-nav-menu .collapsible-menu-item > ul {
  padding-top: 0;
  position: relative;
  transition: padding 0.3s ease-out;
}
.utk-nav-menu .collapsible-menu-item:not(:first-of-type).collapsing,
.utk-nav-menu .collapsible-menu-item:not(:first-of-type).show,
.utk-nav-menu .collapsible-menu-item > ul.collapsing,
.utk-nav-menu .collapsible-menu-item > ul.show {
  padding-top: 1em;
}
.utk-nav-menu .collapsible-menu-item ul {
  font-size: 1rem;
}
.search-button {
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  color: currentColor;
  -moz-column-gap: 0.4375rem;
  column-gap: 0.4375rem;
  display: flex;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  padding: 0.25rem;
  text-decoration: inherit;
  text-transform: inherit;
}
.search-slider input:focus {
  outline: 1px auto Highlight;
  outline: 1px auto -webkit-focus-ring-color;
}
