@import 'scss/common';
.areasContainer {
  width: 100vw;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // gap: 3rem 2rem;
  // align-items: stretch;
  // margin: 2rem;
  // border: 1px solid pink;
  padding-bottom: 3rem;
  @media (min-width: 800px) {
    flex-direction: row;
    // max-width: 80vw;
    margin: 0 auto;
  }
}
// .Programs2_programsRow__B6xXK:nth-child(2n + 1) {
//   background: #fbfbfb;
// }

.resultsSection {
  // setting up default page margins to match Intro Module
  // border: 2px solid blue;
  padding: 1rem 0.5rem 3rem 0.5rem;
  position: relative;
  margin: 0 0 1.5rem 0;
  justify-items: start;
  align-items: start;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    border-top: 1px solid $utorange;
    width: 100vw;
  }
  @media screen and (min-width: 940px) {
    padding: 1rem 2rem 3rem 2rem;
    &:before {
      content: none;
    }
  }
  @media screen and (min-width: 1200px) {
    padding: 5rem 2rem 3rem 2rem;
    max-width: 1520px;
    margin: 0 auto 3rem auto;
  }
}
.resultsSectionMessage {
  padding: 0 2rem;
  position: relative;
  margin: 0 0 1.5rem 0;
  justify-items: start;
  align-items: start;
  @media screen and (min-width: 940px) {
    padding: 1rem 2rem 3rem 2rem;
  }
  @media screen and (min-width: 1200px) {
    padding: 5rem 2rem 3rem 2rem;
    max-width: 1520px;
    margin: 0 auto 3rem auto;
  }
  h3 {
    margin-top: 0;
  }
}
.onlineTag {
  background-color: RGBA(255, 130, 0, 0.2);
  margin-top: 0.2rem;
  padding: 0.1rem 0.3rem;
  text-transform: uppercase;
  font-size: calc($font-size-sm * 0.9);
  font-weight: $font-weight-bold;
  letter-spacing: 0.1rem;
  display: block;
  width: fit-content;
  text-decoration: none;
  color: $utsmokey;
  border-radius: 0.2rem;
}
.programGrid {
  // display: flex;
  // flex-direction: column;
  grid-template-columns: 1fr;
  display: grid;
  padding: 0;
  // grid-row-gap: 2rem;
  align-items: start;
  // grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  .programEntry:nth-child(2n + 1) {
    background-color: #fbfbfb;
  }

  @media screen and (min-width: 940px) {
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  }
}

.labelContainer {
  @media screen and (max-width: 940px) {
    display: none;
  }
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  padding: 1rem 2rem;
  letter-spacing: 0.1rem;
  justify-items: start;
  align-items: start;
  border-bottom: 1px solid #dadada;
  @media screen and (min-width: 940px) {
    grid-column: 1 / 4;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 3rem;
  }
}

.programEntry {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  padding: 3rem 4rem;
  margin: 0 -2rem 0 -2rem;
  @media screen and (min-width: 940px) {
    grid-column: 1 / 4;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 3rem;
    padding: 3rem 2rem;
    margin: 0;
  }
  justify-items: start;
  align-items: start;
  border-bottom: 1px solid #dadada;

  > h3.programName {
    margin: 0;
    line-height: 1.35rem;
    // line-height: clamp($h5-font-size, 1.3rem, $h4-font-size);
    line-height: clamp(1.3rem, 3.5vw, 1.63rem);
    // font-size: $font-size-lg;
    font-size: $h5-font-size;
    font-weight: $font-weight-bold;
    justify-self: stretch;
    @media screen and (min-width: 940px) {
      grid-column: 1 /2;
    }
  }
  > .degreeList {
    justify-self: stretch;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 0 0 1rem;
    margin: 0 0 0 0.1rem;
    padding: 0;
    // text-transform: uppercase;
    font-weight: $font-weight-bolder;
    font-size: $font-size-sm;
    font-size: calc($font-size-sm * 0.97);
    @media screen and (min-width: 940px) {
      grid-column: 2 /3;
      margin: 0;
    }
  }
  > .concentrationList {
    @media screen and (max-width: 940px) {
      &:before {
        // removing for now – looking at ways to add labels for mobile
        content: 'concentrations';
        font-size: calc($font-size-sm * 0.9);
        margin: 0;
        padding: 0;
        margin-bottom: -0.3rem;
        // text-transform: uppercase;
        color: $utsmokey;
        border-bottom: 1px solid $utorange;
        // width: fit-content;
      }
    }

    font-size: calc($font-size-base * 0.8);
    justify-self: stretch;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0.75rem 0 0 1rem;
    @media screen and (min-width: 940px) {
      grid-column: 3 /4;
      margin: 0;
    }
  }
}

.labelContainer {
  border-bottom: 1px solid $utorange;
}

.programLabel {
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  font-size: $font-size-sm;
}

.searchNavContainer {
  padding: 0 2rem;
  max-width: 1520px;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(240px, auto);
  margin: 0 auto;
  gap: 1rem;
  // border: 2px solid orchid;
  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));

    grid-template-columns: minmax(100px, min-content) auto;
    // border: 3px solid black;
    padding: 0 2rem;
  }
}
// .stickyNav {
//   position: sticky;
//   top: -3rem;
//   // width: 100%;
//   // padding: 3rem 0;
//   padding-top: 3rem;
//   background-color: $white;
//   z-index: 10;
//   margin-top: -3rem;
// }
.searchNavFilterContainer {
  display: grid;
  // border: 2px solid black;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  @media screen and (min-width: 1200px) {
    min-width: calc(100% - 400px);
    grid-template-columns: repeat(4, minmax(200px, auto));
    grid-template-columns: repeat(4, minmax(200px, 22ch));
  }

  gap: 1rem;
  padding: 0;
  margin: 0;
}
.programsSearch {
  // min-width: 240px;
  // max-width: 400px;
  @media screen and (min-width: 1200px) {
    min-width: 300px;
  }
  @media screen and (min-width: 1345px) {
    min-width: 350px;
  }
  align-self: center;
}

.filtersSection {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  // margin: 2rem 0;
  padding-bottom: 3rem;
  font-size: $font-size-sm;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  & > :first-child {
    // display: block;
    // width: 100%;
    display: none;
  }
  @media screen and (min-width: 1200px) {
    grid-column: 1 / 4;
  }
  .tagButton {
    font-size: $font-size-sm;
    // background: #d9dfe3;
    // padding: 5px 15px;
    // border-radius: 0.45rem;
    width: fit-content;
    color: #4b4b4b;
    text-decoration: underline;
    color: $utlinkriver;
    svg {
      stroke: $utlinkriver;
      stroke-width: 3;
    }
    &:after {
      align-self: center;
      margin-top: 1px;
      margin-left: 0.25rem;
      display: inline-block;
      // content: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 24 24' fill='%231a73c5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23 20.168l-8.185-8.187 8.185-8.174-2.832-2.807-8.182 8.179-8.176-8.179-2.81 2.81 8.186 8.196-8.186 8.184 2.81 2.81 8.203-8.192 8.18 8.192z'  stroke='%231a73c5' stroke-width='1'/%3E%3C/svg%3E");
      content: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 24 24' fill='%231a73c5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23 20.168l-8.185-8.187 8.185-8.174-2.832-2.807-8.182 8.179-8.176-8.179-2.81 2.81 8.186 8.196-8.186 8.184 2.81 2.81 8.203-8.192 8.18 8.192z'  stroke='%231a73c5' stroke-width='2'/%3E%3C/svg%3E");
    }

    .tagButtonTitle {
      // font-weight: $font-weight-bold;
      // font-size: calc($font-size-sm * 0.7);
      // display: block;
      // text-transform: uppercase;
      // position: absolute;
      // top: -1rem;
      display: none;
    }
    &:hover {
      cursor: pointer;
      // color: #475867;
      color: $utlinkhover;
      text-decoration: none;
      // background-color: #fbfbfb;
      &:after {
        content: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 24 24' fill='%23114c81' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23 20.168l-8.185-8.187 8.185-8.174-2.832-2.807-8.182 8.179-8.176-8.179-2.81 2.81 8.186 8.196-8.186 8.184 2.81 2.81 8.203-8.192 8.18 8.192z'  stroke='%23114c81' stroke-width='1'/%3E%3C/svg%3E");
      }
    }
  }
}

// .areaCard {
//   flex: 1 1 40%;
//   display: flex;
//   flex-direction: column;
//   margin: 0;
//   position: relative;
//   border: 1px solid #4e4f51;
//   width: 100%;
//   &:before {
//     content: '';
//     width: 3rem;
//     height: 3rem;
//     display: block;
//     position: absolute;
//     background-color: $utorange;
//     left: 1.5rem;
//     top: -1.5rem; // 2 rem padding + half height of square
//     // top: calc(-1 * (2rem + (2vw / 2)));
//     z-index: 10;
//   }
//   > div {
//     // flex-basis: 50%;
//   }
//   @media (min-width: 700px) {
//     flex-direction: row;
//   }

//   .areaTeaser {
//     // left side of program boxes
//     flex: 1 0 40%;

//     .areaTitle {
//       // surrounds the area of study text ex. art. performance.
//       width: 100%;
//       background-color: $utgray1;
//       display: inline-block;
//       padding: 1rem;
//       margin: 0;

//       h2 {
//         padding: 0;
//         color: #707070;
//         font-size: calc(2.5 * $spacer);
//         margin-top: 3rem;
//         margin-left: 1rem;
//         margin-bottom: 0;
//         .oa-period {
//           color: $utorange;
//         }
//       }
//       .areaImage {
//         height: 20rem;
//         width: 100%;
//         border: 2px solid red;
//         img {
//           object-fit: cover;
//           height: 100%;
//         }
//       }
//     }
//     p {
//       font-style: italic;
//       color: $utsmokey;
//       padding: 1.5rem;
//     }
//     .btnTweak {
//       text-decoration: none;
//       margin-left: 1.5rem;
//       margin-bottom: 3rem;
//     }
//   }
// }

// .card-oa-square {
// }
// .programList {
//   flex: 1 1 60%;
//   height: 90%;
//   // overflow-y: scroll;
//   ul {
//     padding: 1.5rem;
//     @media screen and (min-width: 800px) {
//       border-left: 1px solid $utorange;
//       padding: 1.5rem 2rem;
//       padding-top: 6rem;
//     }
//     li {
//       list-style: none;
//       margin: 0;
//       padding: 0 0 2rem 0;
//       .programDegrees {
//         font-weigth: 600;
//         font-size: 0.9rem;
//       }
//       a {
//         text-decoration: none;
//         box-shadow: inset 0px -1px $utorange;
//         padding: 0 0.5rem 0.2rem 0;
//         margin-bottom: 0.1rem;
//         display: inline-block;
//         font-weight: 600;
//         .result-search-term {
//           font-weight: 800;
//         }
//       }
//       .programCollege {
//         font-size: 0.9rem;
//         display: block;
//       }
//       .programDegrees {
//         font-weight: 700;

//         margin-right: 0.5rem;
//       }
//     }
//   }
// }
.input-wrapper,
.alpha-form {
  margin: 2rem 0 0 0; // this is what alpha uses
  margin: 0 0 0 0;
  border-left: 0.6rem solid $utorange;
  // margin-left: -0.25rem;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  width: 100%;
  // &:focus {
  // }

  // This changes the look on local development for the search input box
  [class$='MuiInputBase-root-MuiOutlinedInput-root'] {
    border-radius: 0 0.45rem 0.45rem 0 !important;
    border-left: 0;
    // border: 1px solid #707070;
    &:after {
      display: inline-block;
      // align-self: center;
      margin-top: 0.6rem;
      margin-left: 0.25rem;
      margin-right: 0.73rem;
      content: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 30 30' fill='%23918e8e' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.822 20.88l-6.353-6.354c.93-1.465 1.467-3.2 1.467-5.059.001-5.219-4.247-9.467-9.468-9.467s-9.468 4.248-9.468 9.468c0 5.221 4.247 9.469 9.468 9.469 1.768 0 3.421-.487 4.839-1.333l6.396 6.396 3.119-3.12zm-20.294-11.412c0-3.273 2.665-5.938 5.939-5.938 3.275 0 5.94 2.664 5.94 5.938 0 3.275-2.665 5.939-5.94 5.939-3.274 0-5.939-2.664-5.939-5.939z'  /%3E%3C/svg%3E");
    }
  }

  // .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl {
  //   border-radius: 0 0.45rem 0.45rem 0 !important;
  // }

  //  this changes the look on production servers for search input box.
  .MuiInputBase-root {
    & .MuiOutlinedInput-root {
      border-radius: 0 0.45rem 0.45rem 0 !important;
      border-left: 0 !important;
      &:after {
        display: inline-block;
        margin-top: 0.6rem;
        margin-left: 0.25rem;
        margin-right: 0.73rem;
        content: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 30 30' fill='%23918e8e' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.822 20.88l-6.353-6.354c.93-1.465 1.467-3.2 1.467-5.059.001-5.219-4.247-9.467-9.468-9.467s-9.468 4.248-9.468 9.468c0 5.221 4.247 9.469 9.468 9.469 1.768 0 3.421-.487 4.839-1.333l6.396 6.396 3.119-3.12zm-20.294-11.412c0-3.273 2.665-5.938 5.939-5.938 3.275 0 5.94 2.664 5.94 5.938 0 3.275-2.665 5.939-5.94 5.939-3.274 0-5.939-2.664-5.939-5.939z'  /%3E%3C/svg%3E");
      }
    }
  }

  .MuiTextField-root {
    width: 80%;
    // border: none;
    // padding: 0.25rem 1rem;
    padding: 16.5px 14px;
    // border-top: 1px solid $utgray4;
    // border-bottom: 1px solid $utgray4;
    // border-left: none;
    // color: $utsmokey;
    // &:focus {
    //   outline: none !important;
    //   border: 2px solid $utlinkriver;
    // }
  }
  button {
    color: #707070;
    background-color: #f1f1f1;
    padding: 0.8rem 1rem;
    margin: 0;
    border: 0;
    border-top: 1px solid $utgray4;
    border-bottom: 1px solid $utgray4;
    border-right: 1px solid $utgray4;
    text-transform: uppercase;
    font-weight: $font-weight-bolder;
    font-size: $h6-font-size;
    &:hover {
      background-color: $utsmokey;
      color: white !important;
    }
  }
}

// -----------------------------
// Filtered By Major page styles
// -----------------------------

.majorDiv {
  border-top: 1px solid #dedede;
  padding-bottom: 35px;
  h4 {
    font-weight: 600;
  }
  ul {
    list-style: none;
  }
  .degreeListItem {
    margin-top: 25px;
  }
  strong {
    font-weight: 600;
  }
  .concentrationList {
    margin: 15px 0;
    padding-left: 0;
    li {
      color: #4b4b4b;
      font-weight: 300;
    }
  }
}

.disclaimerSection {
  // setting up default page margins to match Intro Module
  padding: 1rem 0.5rem 3rem 0.5rem;
  position: relative;
  margin: 0 0 1.5rem 0;
  justify-items: start;
  align-items: start;

  @media screen and (min-width: 940px) {
    padding: 1rem 2rem 3rem 2rem;
  }
  @media screen and (min-width: 1200px) {
    padding: 5rem 2rem 3rem 2rem;
    max-width: 1520px;
    margin: 0 auto 3rem auto;
  }
}

.toolTip {
  display: inline-block;

  // border-radius: 50%;
  // height: 1rem;
  // width: 1rem;
  // border: 1px solid blue;
  // text-align: center;
  // display: inline-flex;
  position: relative;
  padding: 0;
  margin: 0;
  line-height: 0;
  // align-items: center;
  // align-content: center;
  // justify-content: center;
  // font-weight: $font-weight-ultra;

  // font-size: calc($p-font-size * 0.5);
  // text-transform: lowercase;
  // background-color: #4b4b4b;
  // margin-left: 0.5rem;
  // color: white;
  &:after {
    display: inline-block;
    margin-left: 0.25rem;
    margin-right: 0.73rem;
    width: auto;
    padding: 0;
    line-height: 0;
    // content: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='%234b4b4b' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5,0C4.25,0,0,4.25,0,9.5s4.25,9.5,9.5,9.5,9.5-4.25,9.5-9.5S14.75,0,9.5,0ZM11.16,14.85h-3.33v-8h3.33v8ZM11.22,6.28h-3.44v-2.12h3.44v2.12Z'  /%3E%3C/svg%3E");
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 19 19' fill='%234b4b4b' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.2,0C4.12,0,0,4.12,0,9.2s4.12,9.2,9.2,9.2,9.2-4.12,9.2-9.2S14.28,0,9.2,0ZM10.31,14.19c0,.2-.16.36-.36.36h-1.51c-.2,0-.36-.16-.36-.36v-7.14c0-.2.16-.36.36-.36h1.51c.2,0,.36.16.36.36v7.14ZM10.37,5.47c0,.2-.16.36-.36.36h-1.63c-.2,0-.36-.16-.36-.36v-1.27c0-.2.16-.36.36-.36h1.63c.2,0,.36.16.36.36v1.27Z'  /%3E%3C/svg%3E");
  }
  &:hover,
  &:focus {
    .messageConcentratation {
      display: block;
      z-index: 10;
      position: absolute;
      bottom: 2rem;
      left: -120px;
      text-transform: none !important;
      background-color: #fbfbfb;
      border: 1px solid #dadada;
      padding: 1rem;
      width: 240px;
      color: $utsmokeytext;
      // color: white;
      // background-color: $utsmokey;
      &:before {
        position: absolute;
        top: 100%;
        left: 50%;
        z-index: 8 !important;
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #dadada;
      }
      &:after {
        position: absolute;
        bottom: -9px;
        left: 50%;
        z-index: 11;
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fbfbfb;
      }
      p {
        font-weight: $font-weight-normal;
        font-size: calc($p-font-size * 0.7);
        line-height: calc($line-height-base * 0.9);
        margin: 0;
        padding: 0;
      }
    }
  }

  .messageConcentratation {
    display: none;
  }
}
