// After uploaded WDS 1.1.2 to dev, there were a few spacing issues. These temporarily fix those until we have time to go through and fix everything.

.card-body {
  padding: 2rem !important;
}

// :where(.wp-block-group.has-background) {
//   padding: 1.25em 2.375em !important;
// }

.card {
  padding: 2rem !important;
}

.wds-padding-fix {
  padding: 1.25em 2.375em !important;
}
