// override breakpoint for 50/50 columns. Force to wrap sooner
.mobileWrap-col-5050 {
  @media (min-width: 600px) and (max-width: 900px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 900px) {
    flex-direction: row;
  }
}

.mobileWrap-col-apply {
  @media (min-width: 712px) and (max-width: 1220px) {
    display: flex;
    flex-direction: column;
    & > * {
      margin-top: 2rem;
    }
  }
}
.mobile-media-text-responsive {
  @media screen and (max-width: 1000px) {
    display: grid !important;
    grid-template-rows: auto;
    grid-template-columns: 1fr !important;

    & > *:first-child {
      grid-column: 1 !important;
      width: 100%;
    }
    & > *:nth-child(2n) {
      grid-row: 2;
      width: 100%;
      justify-self: stretch;
      grid-column: auto;
    }
  }
}
.mobileWrap-video {
  @media (min-width: 600px) and (max-width: 900px) {
    display: grid;
    &.homeVideo {
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (min-width: 900px) {
    display: flex;
    flex-direction: row;
  }
}

.mobileWrap-col-4060 {
  @media (min-width: 600px) and (max-width: 1000px) {
    display: grid;
  }
  @media screen and (min-width: 1000px) {
    flex-direction: row;
    border: none;
  }
}
.wp-block-column {
  word-break: normal !important; /* overrides wp default of break-word which was causing weird orphaned letters */
  overflow-wrap: normal !important;
}
