#comments {
  border-top: calc($spacer / 2) solid $utorange;
  padding-top: $spacer;
  margin-top: $spacer;
}
// .comment-form {
// }

.comment-form-comment,
.comment-form-author,
.comment-form-email,
.comment-form-url,
.form-submit {
  input,
  textarea {
    @extend .form-control;
  }
}
.comment-form-cookies-consent {
  @extend .form-check;
  input {
    @extend .form-check-input;
  }
}

// Request Info Slate Forms, styling the inputs
.form_container,
.form_action,
.action {
  @extend .container;
  max-width: 1100px;
  button {
    @extend .btn;
    @extend .btn-white;
    @extend .btn-outline-gray2;
  }
}
.form_text,
.form_select,
.form_responses,
.form_question fieldset div {
  @extend .mb-3;
  @extend .row;
  input[type='text'],
  input[type='email'] {
    @extend .form-control;
  }
  label,
  div .form_label {
    @extend .col-lg-2;
    @extend .col-form-label;
  }
  select {
    @extend .form-select;
  }
  select[aria-label='Month'],
  select[aria-label='Day'],
  select[aria-label='Year'] {
    @extend .col;
    @extend .col-auto;
  }
  .form_responses {
    @extend .col-lg-10;
  }
}
.form_question fieldset {
  div {
    @extend .mx-0;
  }
  .form_response {
    @extend .row;
    @extend .mx-3;
    @extend .form-check;
    input[type='checkbox'],
    input[type='radio'] {
      @extend .form-check-input;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    label {
      @extend .form-check-label;
      padding-left: 0 !important;
      margin-left: 0 !important;
    }
  }
  > .form_label {
    font-weight: bold;
    @extend .mb-3;
    @extend .ms-3;
    @extend .row;
  }
}

// Bring slate dialogs in front of modal
.suggest {
  z-index: 1050 !important;
  max-height: 120px;
  overflow-y: scroll !important;
  font-size: 12px !important;
}
.suggest_data {
  font-size: 11px !important;
}
.progress_dialog_div {
  z-index: 1055 !important;
}
.dialog_host {
  z-index: 1060 !important;
}

// Make clearer that slate continue button is interactive and seperate from results
#suggest_item_more {
  padding: 10px 0;
  border-top: 1px solid #e8e8e8;
}
#suggest_item_more .suggest_name {
  color: #1a73c5;
  font-weight: bold;
}

// Make sure slate 'continue...' options don't exceed page width for smaller screens
@media screen and (max-width: 550px) {
  // .suggest {
  //   display: none !important;
  // }
  .dialog_host .dialog {
    position: fixed;
    max-width: 100%;
    left: 0;
    top: calc(50% - 280px);
  }
}
