@import './framework/custom_variables';
@import './node_modules/bootstrap/scss/variables';

/* _extend was originally created to hold code that existed outside the WDS framework.
since brining in the framework locally, this is no longer working as designed. 
Working on logically integrating this into the framework */

// applied just so I can space out some things that were overlapping. Remove later.
// added to the Home Sweet Home section
.SSspace {
  margin-bottom: 300px;
}

// Need to extend bootstrap
.position-relative > div[class$='__inner-container'] {
  position: relative;
}
.z-index-1 > div[class$='__inner-container'] {
  z-index: 1;
}

/* Class to pull in max width of group */
.inset-container > div[class$='__inner-container'] {
  // width: 85vw;
  margin: 0 auto;
}
.container-fluid {
  padding: 0 calc($spacer * 1);
  // fixes random white margins caused by gutters on the left side at narrow widths
  // padding-left: calc(var(--bs-gutter-x, 0.75rem) / 2); /* this started causing small white vertical line on right. Removing for now */
  @media screen and (min-width: 800px) {
    padding: 0 calc($spacer * 2);
  }
  @media screen and (min-width: 1600px) {
    //recalculated at wider screens to fix spacing that was appearing on right
    // might look at updating the mixin container in framework. Need to experiment more.
    // padding: 0 0 0 calc(var(--bs-gutter-x, 0.75rem));
    // border: 1px solid blue;
    padding: 0;
  }
}
html,
body {
  width: 100%;
  // overflow-x: hidden; /* this breaks stickky clip is a workaround */
  overflow-x: clip;
}
// ––––––––––––

/* Fixes specific to utk.edu Home page */

.campus-gallery {
  position: relative;

  width: 100vw;
}
.campus-gallery {
  background-image: url('https://images.utk.edu/designsystem/www2021/v1/i/knoxville_illustration_3.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 350%;
  @include media-breakpoint-up(lg) {
    background-size: contain;
  }
}

.fix-align {
  &.is-layout-constrained > * {
    margin-left: 0 !important; /* this overrides the   .is-layout-constrained */
  }
}

.strip-orange .btn-link {
  // This is overriding an issue in the framework.
  // all items under .strip-orange are changing colors even when nested in a different color object.
  box-shadow: inset 0px -1px $utorange;
  &:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='22' fill='%23ff8200' viewBox='0 0 25 26' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z' /%3E%3C/svg%3E");
  }
}
.gallery-home {
  .content-card {
    padding: 0 !important;
    //cards in the corner of HOME SWEET HOME
    h3 {
      margin-top: calc($spacer * 2);
    }
  }
  .gallery-img-card {
    padding: 0 !important;
  }
  .gallery-img-card img {
    // this makes the cards appear in the group.
    position: relative;
  }
  .gallery-card {
    // controls the animated cards used on the home for HOME SWEET HOME Section
    overflow: hidden;
    transition: all 0.2s ease;
    color: $utsmokeytext;
    .card-img {
      transition: all 0.4s ease-out;
    }

    .card-value {
      background: RGB(49, 62, 72) !important;
      background: RGBA(49, 62, 72, 0.9) !important;
      //  $utcoolsmokey: #313e48;
      //  $utcoolrock: #d9dfe3;
    }
    .card.hover {
      text-shadow: 0 0 15px transparentize(black, 0.7);
      svg {
        display: none;
        @include media-breakpoint-up(lg) {
          display: inline-block;
        }
      }
    }
    .card-body,
    .card-img-overlay {
      background: transparentize($utcoolsmokey, 0.2);
      position: absolute;
      top: 0 !important;
      transition: 0.5s ease-in-out;
      @include media-breakpoint-up(lg) {
        top: calc(100% - 3.5rem) !important;
      }
      h3 {
        margin-top: -0.75rem;
      }
    }
    &:hover {
      .card-body,
      .card-img-overlay {
        top: 0 !important;
      }
      img {
        filter: brightness(0.6) blur(3px) grayscale(70%);
        -webkit-filter: brightness(0.6) blur(3px) grayscale(70%);
        -moz-filter: brightness(0.6) blur(3px) grayscale(70%);
        -ms-filter: brightness(0.6) blur(3px) grayscale(70%);
        -o-filter: brightness(0.6) blur(3px) grayscale(70%);
      }
    }
  }
}

.intro-gray {
  color: #918e8e !important;
}
/* In process Link Group */

// .btn-group-vertical {
//   width: 100%;
//   .wp-block-utksds-button {
//     border: none;
//     border-bottom: 1px solid red;
//     flex: 0 1 100%;
//
//     .btn-utlink {
//       color: $link-color;
//       background-color: none !important;
//       padding: 0.5rem 1rem;
//       &:hover {
//         color: blue;
//       }
//     }
//   }
// }
//
// .wp-block-utksds-button {
//   &.newOutline {
//     a {
//       color: blue;
//       svg {
//         color: $utorange;
//       }
//       &:hover {
//         border: 3px solid $utorange;
//         background-color: white;
//       }
//     }
//   }
// }

/* Buttons with Chevrons – pulled from ExpressionEngine */
.ctaHolder .btn-chevron {
  width: auto !important;
  pointer-events: visible;
}

.btn-chevron {
  width: auto;
  font-size: 1.09375rem;
  background: #fff;
  border: 1px solid #ff8200;
  padding-right: 3rem;
  position: relative;
  width: 100%;
  font-size: 0.95rem;
  &:after {
    content: ' ';
    background: #ff8200;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: none;
    background-size: auto;
    background-image: url('https://images.utk.edu/designsystem/www2021/v1/i/chevron-right.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    color: #fff;
    padding: 0.2rem;
    position: absolute;
    top: 0;
    transition: all 0.4s ease-out;
    right: 0;
    bottom: 0;
    width: 2.5rem;
  }
  &:hover {
    &:after {
      background-position: right center;
    }
  }
}

/*Not working Yet */

// .card-cta {
//   border: 1px solid red;
// }

// .wp-block-utksds-button {
//   &.cta {
//     border: 2px solid $utorange;
//     padding: 0;
//     margin: 0;
//     margin-top: 1.2rem;
//     a {
//       display: flex;
//       align-items: center;
//       align-content: center;
//       flex-direction: row;
//       width: 100%;
//       &:hover:first-child:after {
//         // color: blue;
//         // background-color: blue;
//         right: 0;
//       }
//       &.btn {
//         padding: 0 0;
//         border: none;
//       }
//       &.mb-3 {
//         margin-bottom: 0 !important;
//         // need to just remove this bootstrap class if we make a new button of CTA styling
//       }
//       &:first-child {
//         padding: 0.25rem 0 0.25rem 0.75rem;
//         display: inline-block;
//         flex-basis: 70%;
//         display: flex;
//         width: fit-content;
//         content-wrap: no-wrap;
//         &:after {
//           // content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='30' width='20' fill='%23ff8200' viewBox='0 0 25 23'><path d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z' /></svg>");
//           content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='30' fill='%23ffffff' viewBox='0 0 30 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z' /%3E%3C/svg%3E");
//           // content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='20' fill='%23ff8200' viewBox='0 0 25 23' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z' /%3E%3C/svg%3E");
//           // align-self: flex-end;
//           transition: all 0.6s ease-out;
//           display: inline-block !important;
//           position: absolute;
//           background-color: $utorange;
//           padding: 1rem;
//           position: relative;
//           margin: -0.375rem -0.125rem -0.375rem 1.2rem;
//         }
//
//         &:hover:after {
//           margin-left: 1.9rem;
//         }
//       }
//
//       // :nth-child(even) {
//       //   border: 4px solid purple;
//       //   background-color: $utorange;
//       //   color: white;
//       //   height: 100%;
//       //   display: inline-block;
//       //   flex-basis: 30%;
//       // }
//
//       span {
//         // flex: 0 1 auto;
//         .bi-chevron-right {
//           display: none;
//           background-color: $utorange;
//           border: none;
//           padding: 4rem;
//           margin: 0;
//           color: #fff !important;
//           height: 100%;
//           height: 1.5rem;
//           width: 1.5rem;
//           transition: all 0.4s ease-out;
//         }
//       }
//     }
//   }
// }

// @keyframes chevronSlide {
//   0% {
//     margin-left: 1.4rem;
//   }
//   50% {
//     margin-left: 2rem;
//   }
//   100% {
//     margin-left: 1.9rem;
//   }
// }

.flexVideo {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: 0;
}

.orange-dot-strip {
  // used on a group element with an image inside.
  max-height: 5vw;
  overflow: hidden;
  padding: 0;
  img {
    /* fixes the background applied in Wordpress */
    /* orange stripe with dot pattern aligned left */
    left: 0;
    top: 0;
    background-size: auto;
    background-repeat: no-repeat;
    width: 30vw;
  }
}

.grey-dot-strip {
  background-image: url('//images.utk.edu/designsystem/www2021/v1/i/dots_vertical_1.gif');
  background-position: bottom left;
  background-size: auto;
  background-repeat: repeat-x;
  padding: 4vw 0 3vw 0;
}

.light-grey-dot-strip {
  position: relative;
  padding: 4vw 0 3vw 0;
  overflow: hidden;

  &:after {
    opacity: 0.1;
    background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="UTF-8"%3F%3E%3Csvg id="a" xmlns="http://www.w3.org/2000/svg" width="14" height="479" viewBox="0 0 14 479"%3E%3Crect id="b" x="4.13" y="397.04" width="5.74" height="5.74" fill="%235f6061"/%3E%3Crect id="c" x="6.67" y="27.62" width=".66" height=".66" fill="%235f6061"/%3E%3Crect id="d" x="4.33" y="354.19" width="5.35" height="5.35" fill="%235f6061"/%3E%3Crect id="e" x="4.52" y="325.83" width="4.96" height="4.96" fill="%235f6061"/%3E%3Crect id="f" x="4.72" y="297.48" width="4.57" height="4.57" fill="%235f6061"/%3E%3Crect id="g" x="5.11" y="269.31" width="3.79" height="3.79" fill="%235f6061"/%3E%3Crect id="h" x="5.3" y="240.96" width="3.4" height="3.4" fill="%235f6061"/%3E%3Crect id="i" x="5.5" y="212.6" width="3" height="3.01" fill="%235f6061"/%3E%3Crect id="j" x="5.69" y="184.24" width="2.61" height="2.62" fill="%235f6061"/%3E%3Crect id="k" x="5.89" y="155.89" width="2.22" height="2.22" fill="%235f6061"/%3E%3Crect id="l" x="6.08" y="127.53" width="1.83" height="1.83" fill="%235f6061"/%3E%3Crect id="m" x="6.28" y="99.17" width="1.44" height="1.44" fill="%235f6061"/%3E%3Crect id="n" x="6.47" y="70.82" width="1.05" height="1.05" fill="%235f6061"/%3E%3Crect id="o" x="6.67" y="42.46" width=".66" height=".66" fill="%235f6061"/%3E%3Crect id="p" x="6.67" y="56.73" width=".66" height=".66" fill="%235f6061"/%3E%3Crect id="q" x="6.47" y="85.09" width="1.05" height="1.05" fill="%235f6061"/%3E%3Crect id="r" x="6.28" y="113.45" width="1.44" height="1.44" fill="%235f6061"/%3E%3Crect id="s" x="6.08" y="141.8" width="1.83" height="1.83" fill="%235f6061"/%3E%3Crect id="t" x="5.89" y="170.16" width="2.22" height="2.22" fill="%235f6061"/%3E%3Crect id="u" x="5.69" y="198.52" width="2.61" height="2.61" fill="%235f6061"/%3E%3Crect id="v" x="5.5" y="226.88" width="3" height="3" fill="%235f6061"/%3E%3Crect id="w" x="5.3" y="255.23" width="3.4" height="3.4" fill="%235f6061"/%3E%3Crect id="x" x="5.11" y="283.59" width="3.79" height="3.79" fill="%235f6061"/%3E%3Crect id="y" x="4.72" y="311.75" width="4.57" height="4.57" fill="%235f6061"/%3E%3Crect id="z" x="4.52" y="340.11" width="4.96" height="4.96" fill="%235f6061"/%3E%3Crect id="aa" x="4.33" y="368.46" width="5.35" height="5.35" fill="%235f6061"/%3E%3Crect id="ab" x="4.33" y="382.74" width="5.35" height="5.35" fill="%235f6061"/%3E%3Crect id="ac" x="4.13" y="397.04" width="5.74" height="5.74" fill="%235f6061"/%3E%3Crect id="ad" x="4.13" y="411.32" width="5.74" height="5.74" fill="%235f6061"/%3E%3Crect id="ae" x="3.93" y="425.42" width="6.13" height="6.13" fill="%235f6061"/%3E%3Crect id="af" x="3.93" y="439.69" width="6.13" height="6.13" fill="%235f6061"/%3E%3Crect id="ag" x="3.74" y="453.79" width="6.52" height="6.52" fill="%235f6061"/%3E%3Crect id="ah" x="3.74" y="468.06" width="6.52" height="6.52" fill="%235f6061"/%3E%3Crect id="ai" x="4.13" y="397.04" width="5.74" height="5.74" fill="%235f6061"/%3E%3C/svg%3E');
    background-position: top left;
    background-size: auto;
    background-repeat: repeat-x;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}

.icon-torch {
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  display: block;
  margin-bottom: 2rem;
  @include media-breakpoint-up(md) {
    width: 10vw;
  }
}
.icon-torch {
  background-image: url('//images.utk.edu/images/www/home/icon-light-the-way.svg');
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-position: center;
}
.icon-wds-torch {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="125" height="125" viewBox="0 0 125 125"%3E%3Cpath d="M89.34 28.03 73.23 11.51v10.24l-1.16 1.16-.99 1.06-4.38 4.37c-1.73 1.73-2.94 3.96-3.25 6.39-.13 1-.11 1.98.03 2.91.48 3.25 3.2 6.88 6.49 6.9.02 0-.02 0 0 0l9.93.87h2.42c.23 0 2.54-.49 2.76-.5 3.35-1.64 7.44-5.37 7.44-9.34 0-2.25-1.57-5.95-3.16-7.54h-.02ZM63.09 61.06h3.04v-1h-4.14c.06.56.52 1 1.1 1Z" fill="%23FF8200"/%3E%3Cpath d="M96.46 53.3H59.65v6.47h8.2v10.75h17.21l2.68-10.75h8.72V53.3Zm-24 64.27h-3.69l-.05-20.22h9.18l-5.44 20.22Z" fill="%23FF8200"/%3E%3Cpath d="M81.05 46.78c6.8 0 12.33-5.53 12.33-12.33 0-2.85-1.11-5.53-3.13-7.55L69.69 6.34c-.32-.32-.81-.42-1.23-.24-.42.17-.69.58-.69 1.04v14.62l-6.81 6.81c-2.02 2.02-3.13 4.7-3.13 7.55 0 5.89 4.79 10.68 10.68 10.68v-.02h12.54ZM70.03 9.85l18.64 18.64a8.382 8.382 0 0 1 2.47 5.96c0 5.56-4.52 10.08-10.08 10.08h-1.12v-.47c0-7.04-2.74-13.66-7.72-18.63l-2.47-2.47c.18-.21.29-.46.29-.74V9.85h-.01Zm-7.46 20.3 6.12-6.12 2.46 2.46a24.707 24.707 0 0 1 7.28 17.57v.47h-9.91c-4.65 0-8.43-3.78-8.43-8.43 0-2.25.88-4.37 2.47-5.96l.01.01Zm-7.3 21.9c-.62 0-1.12.5-1.12 1.12v6.75c0 .62.5 1.12 1.12 1.12h7.11v8.47H57.7c-2.99 0-5.42 2.43-5.42 5.42V86.1l-24.79 32.86h3.03l23.71-31.67c.19-.21.29-.48.29-.75V74.93c0-1.75 1.42-3.17 3.17-3.17h20.05l-4.37 18.97 1.46.34 4.45-19.31h5.7c.35 0 .56.2.65.32.16.2.21.46.15.71l-5.86 22.68c-.09.36-.42.61-.79.61H63.16c-.41 0-.78.22-.98.58l-10.94 22.31h2.58l9.53-19.78v18.66c0 .62.5 1.12 1.12 1.12h8.05c.51 0 .96-.35 1.09-.84l5.11-19.8h.42c1.4 0 2.62-.95 2.97-2.3l5.86-22.68c.24-.93.04-1.89-.54-2.65-.29-.38-.66-.68-1.07-.88l2.11-8.78h7.92c.62 0 1.12-.5 1.12-1.12v-6.75c0-.62-.5-1.12-1.12-1.12H55.27Zm16.37 64.68h-6.05V98.34h10.8l-4.75 18.39Zm12.47-47.21H64.64v-8.47h21.51l-2.04 8.47ZM95.26 58.8H56.4v-4.5h38.86v4.5Z" fill="%234B4B4B"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  background-position: center;
  z-index: 10;
}

.icon-225 {
  background-image: url('https://timeline.utk.edu/images/i/timeline/225th_Anniversary_Logo_(RGB)_2.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-position: center;
}

.card-oa-frame
/* orangeFramedCard */ {
  /* Used on Home to add angle to card */
  position: relative;
  display: inline-block;
  width: auto;
  margin-left: 2rem;
  padding: 0;
  z-index: 4;
  margin-bottom: 2rem;
  img {
    padding: 0;
    margin-right: 0;
  }
  &::before {
    position: absolute;
    content: ' ';
    width: 60%;
    height: calc(100% - 2rem);
    bottom: -$container-padding-x;
    left: -$container-padding-x;
    border-left: 1.25rem solid $utorange;
    border-bottom: 1.25rem solid $utorange;
    z-index: -1;

    @include media-breakpoint-up(md) {
      bottom: -1.25rem;
      left: -1.25rem;
    }
  }
  .card-img-top {
    width: auto;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  &.card {
    overflow: visible;
  }
  &.alignright {
    margin-left: 2rem;
    display: flex;
    position: relative;
    width: auto;
    // display: inline-block;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
    margin-right: 2rem;

    &::before {
      position: absolute;
      content: ' ';
      width: 60%;
      height: calc(100% - 2rem);
      // bottom: -$container-padding-x;
      left: 1rem !important;
      border-left: 0 !important;
      right: -$container-padding-x;
      margin-left: 41%;
      border-right: 1.5rem solid $utorange;
      border-bottom: 1.5rem solid $utorange;
      z-index: -1;
      @include media-breakpoint-up(md) {
        bottom: -1.5rem;
        right: -1.5rem;
      }
    }
  }
}

.futureStat {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1300px) {
    gap: 0;
  }
  gap: $spacer;
  .statRow {
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1300px) {
      flex-direction: row;
      gap: $spacer;
    }
    @media screen and (min-width: 1430px) {
      max-width: 90%;
    }
    :nth-child(odd) {
      text-shadow: 2px 2px 0px #f6f6f6, 4px 4px 0px #ff8200;

      //   font-size: 2rem;
      flex: 1 0 450%;
      @media screen and (min-width: 1300px) {
        flex: 1 0 30%;
      }
      align-self: flex-start;
    }
    :nth-child(even) {
      flex: 1 1 55%;
      align-self: flex-start;
      // border: 2px solid green;
      @media screen and (min-width: 1300px) {
        flex: 1 1 70%;
        align-self: center;
      }
    }
    p.text-data {
      font-size: calc(2rem + 2.25vw);
      font-size: $h1-font-size;
      text-align: left;
      margin-top: 0;

      @media screen and (min-width: 1300px) {
        text-align: right;
      }
    }
  }
  .is-layout-flow > * {
    margin-block-start: 0;
  }
}

/* ––––––––––––––––––––––––––––––––––––– */
/* Flex Video HOME */
/* –––––––––––––––––––––––––––– */

.flex-video-container {
  position: relative;
  width: 100vw;
  // margin-left: calc(-50vw + 748px);
  display: block;
  left: 0;
  padding: 0;
  @media screen {
    padding-top: 25rem;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 25rem;
  }
  @media screen and (min-width: 2000px) {
    padding-top: 35rem;
  }
}

.z-index-10 {
  z-index: 10;
  position: relative;
}
.video-flex {
  width: 100%;
  height: 100%;
  padding-top: 14rem;
  position: absolute;
  top: 0;
  left: 0;
}
#textvideo {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: -1;
}

// .home-alumni-strip,
// .strip-with-card {
//   position: relative;
//   .strip {
//     @media (max-width: 600px) {
//       background-size: cover;
//       padding-top: 5rem;
//       background-position: -20rem 0;
//     }
//     .home-card {
//       margin-top: 20rem;
//       margin-bottom: 0;
//     }
//     @media (max-width: 800px) {
//       background-size: cover;
//       padding-top: 5rem;
//       background-position: center;
//     }
//   }
// }

.card {
  overflow: hidden;
  transition: all 0.2s ease;
  background: rgba(49, 62, 72, 0.9);
  border: 0;
}

.grey-dot-overlay-left {
  position: relative;
  // used on Acadmemics page. Added to a cover. Adds the dot overlay over content wtithin.
  // Currently set to  only work with a strip using Large Padding and 0 spacing
  &:before {
    content: '';
    z-index: 1;
    width: 100%;
    height: 98%;
    bottom: 0;
    // @media screen and (min-width: 800px) {
    //   width: 60vw;
    //   left: 0;
    // }
    // height: 50%;
    position: absolute;
    background-image: url('//images.utk.edu/designsystem/patterns/dot-repeat-y.png');
    background-size: 40%;
    background-position: bottom left;
    background-repeat: repeat-y;
    padding-top: 1rem;
    @media screen and (min-width: 800px) {
      background-repeat: repeat-y;
    }
    opacity: 0.25;
    margin: -0.5rem 0 0;
    padding: 0;
  }
}
.grey-dot-overlay-right {
  @extend .grey-dot-overlay-left;
  &:before {
    transform: scaleX(-1);
    background-position: bottom left; /* this is opposite since the image is being flipped */
  }
}

// .grey-dot-overlay > div.strip-light .container {
//   // used on Acadmemics page. Added to a content-strip. Adds the dot overlay over content wtithin.
//   position: relative;
//   &:before {
//     content: "";
//     width: 20vw;
//     height: 100%;

//     position: absolute;
//     background-image: url("//images.utk.edu/designsystem/patterns/dot-repeat-y.png");
//     filter: hue-rotate(20deg);
//     filter: contrast(20%);
//     background-size: 80%;
//     background-position: bottom left;
//     background-repeat: repeat-y;
//     transform: rotate(90deg);

//     z-index: 0;
//     @media screen and (min-width: 800px) {
//       background-repeat: repeat-y;
//     }
//     opacity: 0.25;
//     margin: -6rem 0 0;
//     padding: 0;
//   }
// }

.orange-border-bottom {
  border-bottom: 4rem solid $utorange;
}
/* ––––––––––––––––––––––––––––––––––––– */
/* ACADEMICS */
/* –––––––––––––––––––––––––––– */

// Texture Add on. Works like heading-oa-bar
.heading-texture-dots {
  &:before {
    content: '';
    width: 75%;
    width: 20rem;
    height: 150%;

    position: absolute;
    background-image: url('//images.utk.edu/designsystem/patterns/dot-repeat-y.png');

    filter: contrast(20%);
    background-size: 70%;
    background-position: bottom left;
    background-repeat: repeat-y;

    z-index: -1;
    @media screen and (min-width: 800px) {
      background-repeat: repeat-y;
    }
    opacity: 0.25;
    margin: -2.5rem 0 0 -3rem;
    padding: 0;
  }
}
body.academics {
  section[class^='PageTitle_hero'] {
    position: relative;
    h1 {
      display: none;
    }
  }
  // .wp-block-strip-main,
  // .wp-block-strip-main > div.strip,
  // .wp-block-strip-main > div.strip > div.container {
  //   position: relative;
  // }
  .card {
    &.page-intro {
      overflow: visible;
      width: 30vw;
      right: 0;
      &:after {
        position: absolute;
        content: '';
        top: 0;
        right: -3rem;
        border-right: 3rem solid $utorange;
        height: 100%;
      }

      &.bg-light {
        // background-color: rgba(255, 255, 255, 0.85) !important;
      }
      > div.card-body {
        padding: 2rem 2rem !important;
        p {
          font-weight: 400 !important;
        }
      }
    }
  }
}

.fake-d-flex {
  // temporary fix until we have the framework in place
  //parent flexbox group for .page-title-group and .hero-img-group
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  @media screen and (min-width: 800px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.fake-d-flex-end {
  // temporary fix until we have the framework in place
  //parent flexbox group for .page-title-group and .hero-img-group
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  // border: 2px solid red;
  position: relative;
  @media screen and (min-width: 800px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.comfy-container {
  width: 90%;
  margin: 0 auto;
  @media screen and (min-width: 1600px) {
    width: 100%;
  }
}

.split > div[class$='__inner-container'] {
  display: flex;
  flex-direction: column;
  position: relative;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 2rem;
  }
  & > :first-child {
    flex-basis: 40%;
  }
  & > :last-child {
    flex-basis: calc(60% - 2rem);
    align-self: flex-start;
  }
}

.third-split-visual > div[class$='__inner-container'] {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media screen and (min-width: 799px) {
    flex-direction: row;
  }
  & > :first-child {
    flex-basis: 70%;
    display: flex;
    flex-direction: row;
    & > div[class$='__inner-container'] {
      display: flex;
      flex-direction: row;
      & > {
        flex-basis: 50%;
      }
    }
  }

  & > :nth-child(2n) {
    flex-basis: 30%;
  }
}
/* INTRO TITLE TREATMENT */

.intro-flex {
  // temporary fix until we have the framework in place
  //parent flexbox group for .page-title-group and .intro-img-group
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  // border: 1px solid blue;
  margin-top: 1vw;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2vw;
    margin-top: 2vw;
  }
}

.page-title-group {
  width: 84vw;
  // border: 2px solid purple;
  margin: 0 8vw 2rem 8vw;
  padding: 0;
  @media screen and (min-width: 1200px) {
    // width: 40vw;
    // max-width: 500px;
    // flex-basis: 32vw;
    flex-basis: 66%;

    // flex-grow: 1;
    margin: 0 0 4rem 2vw;
  }
}

.intro-img-group {
  // flex-basis: 50vw;
  display: flex;
  width: 84vw;
  margin: 0 8vw 2rem 8vw;
  // border: 1px solid green;

  @media screen and (min-width: 1200px) {
    // flex-basis: 50vw;
    max-width: none;
    width: auto;
    position: relative;
    margin: 0 0 2rem 2rem !important;
  }
  @media screen and (min-width: 1500px) {
    margin: 1vw 0 2rem 2rem !important;
  }
  & > div {
    width: 100% !important;
    margin-inline-end: 0 !important; /* this overwrites the is-layout-flow margin */
  }
  .img {
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 803px;
  }
}

.intro-quote-group {
  width: 100vw;
  margin: 0 auto 4rem auto;
  margin-left: calc(-1 * $spacer / 2);

  // @media screen and (min-width: 1200px) {
  //   flex-basis: 50vw;
  //   max-width: none;
  //   position: relative;
  //   margin-left: 2rem;
  //   align-items: center;
  //   border: 2px solid red;
  //   background-color: green;
  // }

  .quote-img-group {
    & > div[class$='__inner-container'] {
      // background-color: pink;
      width: 100%;
      min-height: 16rem;
      height: 100%;
      object-fit: cover;
    }
    figure {
      object-fit: cover;
    }
    img {
      // border: 2px solid blue;
      object-fit: cover;
      min-height: 16rem;
      width: auto;
      // background-color: blue;
      @media screen and (min-width: 800px) {
        min-height: 20rem;
      }
      @media screen and (min-width: 1200px) {
        min-height: 25rem;
      }
    }
  }
  // main intro-quote-group inner container
  & > div[class$='__inner-container'] {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    @media screen and (min-width: 800px) {
      display: flex;
      flex-direction: row;
      // background-color: pink;
    }
    @media screen and (min-width: 1200px) {
      // background-color: purple;
      flex-direction: column;
    }
  }

  // .img {
  //   flex-shrink: 1;
  //   flex-grow: 1;
  //   max-width: 803px;
  // }
  .quote-content-group {
    width: 84vw;
    margin: 0 8vw 4rem 8vw;
    @media screen and (min-width: 1200px) {
      margin: 0;
      width: 96%;
      margin: 2%;
    }
  }
}

hr.oa-thick-bar {
  width: 80%;
  height: 1.75rem;
  background-color: $utorange;
  opacity: 1;
  margin: 4rem 0;

  margin-left: -4rem !important;
  @media screen and (min-width: 800px) {
    width: 70%;
    width: 24rem;
  }
}
.is-layout-flow > .title-container {
  margin-block-start: 0;
}

p.theme {
  // font-size: 4.7rem;
  // font-weight: 600;
  // line-height: 4.6rem;
  // max-width: 10ch;
  // font-size: 6.5rem;
  font-size: $h1-font-size;
  // line-height: 6rem;
  // line-height: 4.8rem; // need to figure out how to get bootstrap variables used here
  line-height: calc($headings-line-height * 1.1);
  font-weight: $font-weight-ultra;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.card-quote-offset {
  width: 90%;
  position: relative;
  // margin-left: 20%;
  display: inline-block;
  z-index: 20;
  background-color: $white;
  border-bottom-left-radius: 3rem 3rem;
  padding: 2.5rem;
  margin: 4rem auto -9rem;
  @media screen and (min-width: 800px) {
    width: 80%;
    // max-width: 500px;
    // margin-left: auto;
    // margin-right: 0;
    // margin-top: 4.5rem;

    margin: 5rem 0 -12rem auto;
  }
  @media screen and (min-width: 1200px) {
    width: 50%;

    margin: 2rem 0 -12rem auto;
  }
  // blockquote {
  //   // background-color: white;
  //   background-image: none;
  //   margin: 0;
  //   padding: 0;
  //   padding: 1rem;

  //   &:before {
  //     // animation: quoteMarks 1s linear infinite;
  //     // animation-play-state: paused;
  //     // animation-delay: calc(var(scroll) * -1s);
  //     content: open-quote;
  //     font-family: $font-family-sans-serif;
  //     font-weight: 900;
  //     font-size: calc($font-size-base * 3);
  //     font-size: clamp(8rem, 20vw, 13rem);
  //     font-size: clamp(
  //       (calc($font-size-base * 6.4)),
  //       20vw,
  //       (calc($font-size-base * 8.5))
  //     );
  //     display: inline-block;
  //     color: $utorange;
  //     position: absolute;
  //     top: -4rem;
  //     left: -3.5rem;
  //     left: -2.5rem;
  //     @media screen and (min-width: 700px) {
  //       left: -4rem;
  //       top: -5rem;
  //     }
  //     @media screen and (min-width: 930px) {
  //       left: -5rem;
  //       top: -6rem;
  //     }
  //   }
  //   &:after {
  //     visibility: hidden;
  //     content: close-quote;
  //     // must close quote or else, netxt instance of quote will use a single quote
  //   }
  //   p {
  //     margin-top: 0;
  //   }
  // }
}

.group-overlay-blur .strip {
  &:before {
    content: '';
    width: 100vw;
    height: 100%;
    position: absolute;
    background-color: $white;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    opacity: 0.9;
  }
}

.group-100 {
  width: 100vw;
  position: relative;
  z-index: 2;
}

.dig .strip {
  background-color: $white !important;
}
.align-items-stretch {
  @extend .stretch;
}

.stretch > div[class$='__inner-container'] {
  align-items: stretch;
}

.clear-image {
  display: block;
}

// settings needed – pulled from chancellor

.whiteOpacity {
  background-color: RGBA(255, 255, 255, 0.9) !important;
}

.force-column-break-1330 {
  @media screen and (max-width: 1330px) {
    display: flex;
    flex-direction: column;
    // max-width: 80vw;
    padding-left: 1.25em;
    padding-right: 1.25em;

    .video-column,
    .media-column {
      flex-basis: 100% !important;
      text-align: left !important;

      &.is-layout-flow {
        > .alignright {
          float: left !important;
        }
      }
    }
  }
}

// Remove top margin from tabs when inside a group
.tab-content {
  margin-block-start: 0 !important;
}

// Bold slate form confirmation text on home hero
.ctaHolder {
  .slate-squeeze {
    p {
      font-weight: normal;
    }
    font-weight: bold;
  }
}
