@import "./node_modules/bootstrap/scss/variables";

.card-value {
  background: RGB(49, 62, 72) !important;
  background: RGBA(49, 62, 72, 0.9) !important;
}

.btn-group-vertical {
  .wp-block-utksds-button {
    border: 2px solid red;
    flex: 0 1 100%;

    .btn-utlink {
      color: $link-color;
      background-color: none !important;
      padding: 0.5rem 1rem;
      &:hover {
        color: blue;
      }
    }
  }
}
